---
layout : default_open.html
title : Brusselslife.be | Belgium life style site | Brussels news, restaurants, shopping, events & happenings.
---

<div id="bl-intro">
    <section class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-8">
                <div class="card border-0 rounded-0">
                    <div class="card-body">
                        <img class="intro-logo" src="{{assets}}images/brusselslife_logo.png" alt="">
                        <h1 class="text-white" style="font-family:sans-serif">
                                Brusselslife v5.3.0
                        </h1>
                        <p class="text-white-50" style="font-family:sans-serif">
                            HTML, SASS, BOOTSTRAP4.0
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>