<blife-block>
    <div id="article-comments" class="mt-4">
        <div class="card rounded-0">
            <div class="card-header py-0">
                <div class="block-title-mini">
                    <h2 class="py-2 text-center">
                        <strong>
                            <i class="fa fa-comment"></i> COMMENTS
                        </strong>
                    </h2>
                </div>
            </div>
            <div class="card-body bg-grey-alpha">
                <form action="#">
                    <textarea class="form-control m-0" cols="30" rows="3" placeholder="Write your comments"></textarea>
                    <button type="submit" class="btn btn-primary pull-right bg-cayan border-0 my-2"><strong>
                        Post comment
                    </strong></button>
                </form>
            </div>
        </div>

        <div class="comments-sorter d-flex my-2">
            <a href="#" class="btn btn-link btn-light active">
                Newest
            </a>
            <a href="#" class="btn btn-link btn-light">
                Oldest
            </a>
        </div>

        <ul class="list-unstyled">
            <li>
                <div class="card rounded-0">
                    <div class="card-body">
                        <div class="posted-date pull-right">
                            <p class="date m-0">54 min ago</p>
                        </div>
                        <div class="clearfix"></div>

                        <div class="user d-flex align-items-center mb-2">
                            <div class="user-profile-empty mr-2">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="user-name">
                                <strong>
                                    Nirupa
                                </strong>
                            </div>
                        </div>
                        <p class="mb-0">
                            Wow it is a nice article, write more !
                        </p>
                        <div class="comment-feedback d-flex justify-content-end">
                            <div class="like bg-cayan text-white mr-2">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i> <span class="count">03</span>
                            </div>

                            <button class="btn btn-small bg-cayan text-white mr-2">
                                <i class="fa fa-reply" aria-hidden="true"></i> Reply
                            </button>

                        </div>
                    </div>
                </div>

            </li>
            <li>
                <div class="card rounded-0">
                    <div class="card-body">

                        <div class="clearfix"></div>
                        <div class="posted-date pull-right">
                            <p class="date m-0">3 days ago</p>
                        </div>
                        <div class="user d-flex align-items-center mb-2">

                            <div class="user-profile-empty mr-2">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            </div>
                            <div class="user-name">
                                <strong>
                                    Ashana
                                </strong>
                            </div>

                        </div>
                        <p class="mb-0">
                            It's funny because you're treating this like a real story. Has the plank who wrote this
                            stunning piece of investigative journalism actually seen the film in question? Roxanne plays
                            an airhead who has all of about 45 seconds of screen time, talks in a terrible American
                            accent, gets her kit off (yes, lads, she'd get it big style) then goes for a swim. She comes
                            out, mounts the make airhead and they grind a bit.
                        </p>
                        <div class="comment-feedback d-flex justify-content-end">
                            <div class="like bg-cayan text-white mr-2">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i> <span class="count">03</span>
                            </div>

                            <button class="btn btn-small bg-cayan text-white mr-2">
                                <i class="fa fa-reply" aria-hidden="true"></i> Reply
                            </button>

                        </div>
                    </div>
                </div>

            </li>
        </ul>
        <div class="view-more text-center">
            <a href="#" class="btn btn-link btn-sm"><small>View more comments</small></a>
        </div>
    </div>
</blife-block>