<blife-block>
    <div id="block-8" class="position-relative">
        {{#parseJSON '{"name": "BLOCK 8"}'}}
        {{> block-edit}}
        {{/parseJSON}}
        <div class="block-content">
            <div class="block-title-mini border-top">
                <h2 class="py-2 text-center">
                    <strong>
                        MORE ARTICLES
                    </strong>
                </h2>
            </div>
            <div class="block-article">
                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <a href="#">
                                <figure>
                                    <img src="{{assets}}images/article_block_4.jpg" alt="">
                                </figure>
                                <div class="category-comments-views">
                                    <span class="bxl-category">CATERING</span>
                                    <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                                </div>
                                <h3>
                                    Découvrez le Parlement européen sous un nouvel angle
                                </h3>

                            </a>
                            <div class="info_author">
                                <a href="#author_profile">
                                    <img src="{{assets}}images/author_1.png" alt="">
                                    <p>
                                        Brijamohan Mallick
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <a href="#">
                                <figure>
                                    <img src="{{assets}}images/article_block_4_2.jpg" alt="">
                                </figure>
                                <div class="category-comments-views">
                                    <span class="bxl-category">CATERING</span>
                                    <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                                </div>
                                <h3>
                                    Découvrez le Parlement européen sous un nouvel angle
                                </h3>

                            </a>
                            <div class="info_author">
                                <a href="#author_profile">
                                    <img src="{{assets}}images/author_2.png" alt="">
                                    <p>
                                        Xing Zheng

                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <a href="#">
                                <figure>
                                    <img src="{{assets}}images/article_block_4.jpg" alt="">
                                </figure>
                                <div class="category-comments-views">
                                    <span class="bxl-category">CATERING</span>
                                    <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                                </div>
                                <h3>
                                    Découvrez le Parlement européen sous un nouvel angle
                                </h3>

                            </a>
                            <div class="info_author">
                                <a href="#author_profile">
                                    <img src="{{assets}}images/author_1.png" alt="">
                                    <p>
                                        Brijamohan Mallick
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <a href="#">
                                <figure>
                                    <img src="{{assets}}images/article_block_4_2.jpg" alt="">
                                </figure>
                                <div class="category-comments-views">
                                    <span class="bxl-category">CATERING</span>
                                    <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                                </div>
                                <h3>
                                    Découvrez le Parlement européen sous un nouvel angle
                                </h3>

                            </a>
                            <div class="info_author">
                                <a href="#author_profile">
                                    <img src="{{assets}}images/author_2.png" alt="">
                                    <p>
                                        Xing Zheng

                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</blife-block>