<div class="col-12 col-md-5">
    <div id="block-20" class="position-relative">
        <!--{{#parseJSON '{"name": "BLOCK 20"}'}}-->
        <!--{{> block-edit}}-->
        <!--{{/parseJSON}}-->
        <div class="block-content">


            <div class="block-address">
                <div class="block-title-mini">
                    <h2 class="py-2 text-center">
                        <strong>
                            <i class="fa fa-map-marker"></i> NEW ADDRESS
                        </strong>
                    </h2>
                </div>
                <section>
                    <a href="#">
                        <figure>
                            <img class="img-fluid" src="{{assets}}images/article_1.jpg" alt="">
                        </figure>
                    </a>
                    <a href="#" class="address-info">
                        <h5 class="my-2">
                            Gonuts Donuts
                        </h5>
                        <address class="m-0 pr-4 pl-4">
                            Rue Washington, 174 - 1050 Ixelles
                            Châtelain
                        </address>

                        <!--<p class="address-tag-line m-0 mb-2 pr-4 pl-4 pb-4">-->
                            <!--L’endroit idéal où confectionner un costume sur-mesure pour homme-->
                        <!--</p>-->

                    </a>
                </section>
            </div>

            <div class="block-article">
                <ul class="list-unstyled">
                    <li class="flex-wrap media mb-3 border-bottom ">
                        <div class="media-image">
                            <a href="#">
                                <img src="{{assets}}images/article_small_2.jpg" alt="" class="mr-3">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>
                                    <strong>
                                        Le plateau du Heysel va pétiller avec "Les Feux de Laeken"
                                    </strong>


                                </h5>
                            </a>
                        </div>
                        <div class="category">
                            <a href="#" class="btn btn-link p-0" title="SPORTS INDIVIDUELS">
                                SPORTS  <i class="fa fa-angle-right"></i>
                            </a>
                            <a href="#" class="float-right btn btn-link text-muted"><i class="fa fa-comment" aria-hidden="true"></i><span
                                    class="comments-count">10</span></a>
                        </div>
                    </li>
                    <li class="flex-wrap media mb-3">
                        <div class="media-image">
                            <a href="#">
                                <img src="{{assets}}images/article_small_3.jpg" alt="" class="mr-3">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>
                                    <strong>
                                        Brussels Summer Festival 2018 : demandez le programme
                                    </strong>
                                </h5>
                            </a>
                        </div>
                        <div class="category">
                            <a href="#" class="btn btn-link p-0" title="SPORTS INDIVIDUELS">
                                EAT & DRINK  <i class="fa fa-angle-right"></i>
                            </a>
                            <a href="#" class="float-right btn btn-link text-muted">
                                <i class="fa fa-comment" aria-hidden="true"></i><span
                                    class="comments-count">10</span></a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>