<div class="col-12 col-md-12">
    <div id="block-2" class="position-relative mb-4">
        <div class="row">
            <div class="col-12 col-md-12 bg-warning  block-title-full">
                <h3 class="text-center py-3">
                    ÉVÉNEMENTS AUTOUR DE BRUXELLES
                    <a href="#" class="btn btn-link">
                        Voir plus <i class="fa fa-angle-right"></i>
                    </a>
                </h3>

            </div>
        </div>
        <div class="clearfix"></div>

        {{#parseJSON '{"name": "BLOCK AGENDA"}'}}
        {{> block-edit}}
        {{/parseJSON}}
        <div class="block-content">
            <div class="home-carousel-agenda">
                <div class="carousel-cell">
                    <div class="card border-0 rounded-0">
                        <a href="#">
                            <img class="card-img-top rounded-0"
                                 data-flickity-lazyload="{{assets}}images/event_5.jpg" alt="">
                        </a>

                        <div class="card-body position-relative">
                            <a href="#">
                                <div class="category-event">
                                    ON STAGE
                                </div>
                            </a>
                            <a href="#">
                                <h3 class="my-2">
                                    Video Games Playing With Imagination
                                </h3>
                                <div class="date-time">
                                    <i class="fa fa-clock-o"></i> &nbsp; 20 Mar 2018
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="card border-0 rounded-0">
                        <a href="#">
                            <img class="sombal card-img-top rounded-0"
                                 data-src="{{assets}}images/event_4.jpg" alt="">
                        </a>

                        <div class="card-body position-relative">
                            <a href="#">
                                <div class="category-event">
                                    MUSIC
                                </div>
                            </a>
                            <a href="#">
                                <h3 class="my-2">
                                    Vinyl Banners With Its Different Types Kinds And Applications
                                </h3>
                                <div class="date-time">
                                    <i class="fa fa-clock-o"></i> &nbsp; 20 Mar 2018
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="card border-0 rounded-0">
                        <a href="#">
                            <img class="sombal card-img-top rounded-0"
                                 data-src="{{assets}}images/event_3.jpg" alt="">
                        </a>

                        <div class="card-body position-relative">
                            <a href="#">
                                <div class="category-event">
                                    CONCERT
                                </div>
                            </a>
                            <a href="#">
                                <h3 class="my-2">
                                    Promotional Advertising Specialty You Ve Waited Long Enough
                                </h3>
                                <div class="date-time">
                                    <i class="fa fa-clock-o"></i> &nbsp; 20 Mar 2018
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="card border-0 rounded-0">
                        <a href="#">
                            <img class="sombal card-img-top rounded-0"
                                 data-src="{{assets}}images/event_2.jpg" alt="">
                        </a>

                        <div class="card-body position-relative">
                            <a href="#">
                                <div class="category-event">
                                    THEATER
                                </div>
                            </a>
                            <a href="#">
                                <h3 class="my-2">
                                    Adwords Keyword Research For Beginners
                                </h3>
                                <div class="date-time">
                                    <i class="fa fa-clock-o"></i> &nbsp; 20 Mar 2018
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="card border-0 rounded-0">
                        <a href="#">
                            <img class="card-img-top rounded-0"
                                 data-flickity-lazyload="{{assets}}images/event_1.jpg" alt="">
                        </a>

                        <div class="card-body position-relative">
                            <a href="#">
                                <div class="category-event">
                                    SPORTS
                                </div>
                            </a>
                            <a href="#">
                                <h3 class="my-2">
                                    Promotional Advertising Specialty You Ve Waited Long Enough
                                </h3>
                                <div class="date-time">
                                    <i class="fa fa-clock-o"></i> &nbsp; 20 Mar 2018
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="card border-0 rounded-0">
                        <a href="#">
                            <img class="card-img-top rounded-0"
                                 data-flickity-lazyload="{{assets}}images/event_2.jpg" alt="">
                        </a>

                        <div class="card-body position-relative">
                            <a href="#">
                                <div class="category-event">
                                    EXHIBITION
                                </div>
                            </a>

                            <a href="#">
                                <h3 class="my-2">
                                    Adwords Keyword Research For Beginners
                                </h3>
                                <div class="date-time">
                                    <i class="fa fa-clock-o"></i> &nbsp; 20 Mar 2018
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="card border-0 rounded-0">
                        <a href="#">
                            <img class="card-img-top rounded-0"
                                 data-flickity-lazyload="{{assets}}images/event_3.jpg" alt="">
                        </a>

                        <div class="card-body position-relative">
                            <a href="#">
                                <div class="category-event">
                                    SPORTS / FORMULE 1
                                </div>
                            </a>
                            <a href="#">
                                <h3 class="my-2">
                                    Vinyl Banners With Its Different Types Kinds And Applications
                                </h3>
                                <div class="date-time">
                                    <i class="fa fa-clock-o"></i> &nbsp; 20 Mar 2018
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="card border-0 rounded-0">
                        <a href="#">
                            <img class="card-img-top rounded-0"
                                 data-flickity-lazyload="{{assets}}images/event_4.jpg" alt="">
                        </a>

                        <div class="card-body position-relative">
                            <a href="#">
                                <div class="category-event">
                                    SPORTS / FORMULE 1
                                </div>
                            </a>
                            <a href="#">
                                <h3 class="my-2">
                                    Video Games Playing With Imagination
                                </h3>
                                <div class="date-time">
                                    <i class="fa fa-clock-o"></i> &nbsp; 20 Mar 2018
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

