<blife-block>

    <div id="block-11" class="position-relative">
        {{#parseJSON '{"name": "BLOCK 11"}'}}
        {{> block-edit}}
        {{/parseJSON}}
        <div class="block-content">
            <div class="block-title-mini">
                <h2 class="py-2 text-center">
                    <strong>
                        à proximité
                    </strong>
                </h2>
            </div>
            <div class="block-address">
                <div class="card border-0 rounded-0">
                    <a href="#">
                        <figure>
                            <img class="rounded-0 card-img-top"
                                 src="{{assets}}images/more_article_img_3.jpg" title="Article block 01"
                                 alt="Article block 1">
                        </figure>
                    </a>
                    <div class="card-body px-0 pb-3 pt-2 border-bottom mb-3">
                        <a href="#">
                            <h5 class="mt-2 mb-0">
                                <strong>
                                    La Factory
                                </strong>
                            </h5>
                            <p>
                                e plateau du Heysel va pétiller avec "Les Feux de Laeken"
                            </p>
                        </a>
                    </div>
                </div>
                <div class="block-address-list">
                    <ul class="list-unstyled">
                        <li class="flex-wrap media mb-3 border-bottom ">
                            <div class="media-image position-relative">
                                <a href="#">
                                    <img src="{{assets}}images/address_3.jpg" alt="" class="mr-3">
                                </a>

                                <a href="#" class="blife-filter btn btn-light">MODE</a>
                            </div>
                            <div class="media-body">
                                <a href="#">
                                    <h5>
                                        Gil Galway
                                    </h5>
                                    <p>
                                        L’endroit idéal où confectionner un costume sur-mesure pour homme
                                    </p>
                                </a>
                            </div>
                        </li>
                        <li class="flex-wrap media mb-3 border-bottom ">
                            <div class="media-image position-relative">
                                <a href="#">
                                    <img src="{{assets}}images/address_4.jpg" alt="" class="mr-3">
                                </a>

                                <a href="#" class="blife-filter btn btn-light">MODE</a>
                            </div>
                            <div class="media-body">
                                <a href="#">
                                    <h5>
                                        La Maison Degand

                                    </h5>
                                    <p>
                                        L’endroit idéal où confectionner un costume sur-mesure pour homme
                                    </p>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</blife-block>