<section class="container">
    <div class="col-12">
        <blife-block>
            <div id="block-three" class="position-relative mb-4">
                {{#parseJSON '{"name": "BLOCK THREE"}'}}
                <!--{{> block-edit}}-->
                {{/parseJSON}}
                <div class="row">
                    <div class="col-md-8">
                        <div class="block-title-full">
                            <h3 class="text-left py-2 px-2">
                                Things todo <strong><em>
                                around Brussels
                            </em>

                            </strong>
                            </h3>
                        </div>
                        <div class="article-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="media py-2 ">
                                        <a href="#">
                                            <figure class="mr-4">
                                                <img class="sombal"
                                                     data-src="{{assets}}images/todo-1.jpg" alt="">
                                            </figure>
                                        </a>
                                        <div>
                                            <div class="category p-0">
                                                <a href="#">
                                                    NATURE
                                                </a>
                                            </div>
                                            <a href="#">
                                                <h3>
                                                    <strong>
                                                        What to See, Hear, Watch, and Read
                                                    </strong>
                                                </h3>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="media py-2">
                                        <a href="#">
                                            <figure class="mr-4">
                                                <img class="sombal"
                                                     data-src="{{assets}}images/todo-2.jpg" alt="">
                                            </figure>
                                        </a>
                                        <div>
                                            <div class="category p-0">
                                                <a href="#">
                                                    AGENDA
                                                </a>
                                            </div>
                                            <a href="#">
                                                <h3>
                                                    <strong>
                                                        What to See, Hear, Watch, and Read
                                                    </strong>
                                                </h3>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6">
                                    <div class="media py-2">
                                        <a href="#">
                                            <figure class="mr-4">
                                                <img class="sombal"
                                                     data-src="{{assets}}images/todo-3.jpg" alt="">
                                            </figure>
                                        </a>
                                        <div>
                                            <div class="category p-0">
                                                <a href="#">
                                                    FASHION
                                                </a>
                                            </div>
                                            <a href="#">
                                                <h3>
                                                    <strong>
                                                        What to See, Hear, Watch, and Read
                                                    </strong>
                                                </h3>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="media py-2">
                                        <a href="#">
                                            <figure class="mr-4">
                                                <img class="sombal"
                                                     data-src="{{assets}}images/todo-4.jpg" alt="">
                                            </figure>
                                        </a>
                                        <div>
                                            <div class="category p-0">
                                                <a href="#">
                                                    SHOPPING
                                                </a>
                                            </div>
                                            <a href="#">
                                                <h3>
                                                    <strong>
                                                        What to See, Hear, Watch, and Read
                                                    </strong>
                                                </h3>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-options">
                            <h2>
                                OTHER CATEGORIES
                            </h2>
                            <ul>
                                <li>
                                    <a href="#">
                                        Restaurants
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Bars
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Stores</a>
                                </li>
                                <li>
                                    <a href="#">
                                        Spas
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Movies
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Music
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="imu-block">
                            <a href="#">
                                <img class="sombal"
                                     data-src="{{assets}}images/tag.jpg" alt="Advertisement Block">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </blife-block>
    </div>

</section>