<div class="row bg-primary block-title-full mb-4">
    <div class="col-12">
        <h3 class="text-center text-white py-2">
            <strong>
                Near by address
            </strong>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-12">
        <div id="block-seven" class="position-relative mb-3">
            {{#parseJSON '{"name": "BLOCK 7"}'}}
            {{> block-edit}}
            {{/parseJSON}}
            <div class="block-content">
                <div class="block-article">
                    <div class="row">
                        <div class="col-sm">
                            <div class="card border-0 rounded-0">
                                <figure class="position-relative">
                                    <a href="#">
                                        <img src="{{assets}}images/interview_small_4.jpg" class="card-img-top" alt="">
                                    </a>
                                    <a href="#" class="btn btn-light position-absolute blife-filter">
                                       Ixelles
                                    </a>
                                </figure>
                                <div class="card-body p-0">
                                    <a href="#">
                                        <h3 class="mb-0">
                                            Musée des Instruments de Musique
                                        </h3>
                                    </a>
                                    <div class="category p-0">
                                        <a href="#" class="btn btn-link p-0" title="SPORTS INDIVIDUELS">
                                            RESTAURANT<i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card border-0 rounded-0">
                                <figure class="position-relative">
                                    <a href="#">
                                        <img src="{{assets}}images/interview_small_4.jpg" class="card-img-top" alt="">
                                    </a>
                                    <a href="#" class="btn btn-light position-absolute blife-filter">
                                        Ixelles
                                    </a>
                                </figure>
                                <div class="card-body p-0">
                                    <a href="#">
                                        <h3 class="mb-0">
                                            Musée des Instruments de Musique
                                        </h3>
                                    </a>
                                    <div class="category p-0">
                                        <a href="#" class="btn btn-link p-0" title="SPORTS INDIVIDUELS">
                                            RESTAURANT<i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card border-0 rounded-0">
                                <figure class="position-relative">
                                    <a href="#">
                                        <img src="{{assets}}images/interview_small_4.jpg" class="card-img-top" alt="">
                                    </a>
                                    <a href="#" class="btn btn-light position-absolute blife-filter">
                                        Ixelles
                                    </a>
                                </figure>
                                <div class="card-body p-0">
                                    <a href="#">
                                        <h3 class="mb-0">
                                            Musée des Instruments de Musique
                                        </h3>
                                    </a>
                                    <div class="category p-0">
                                        <a href="#" class="btn btn-link p-0" title="SPORTS INDIVIDUELS">
                                            RESTAURANT<i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card border-0 rounded-0">
                                <figure class="position-relative">
                                    <a href="#">
                                        <img src="{{assets}}images/interview_small_4.jpg" class="card-img-top" alt="">
                                    </a>
                                    <a href="#" class="btn btn-light position-absolute blife-filter">
                                        Ixelles
                                    </a>
                                </figure>
                                <div class="card-body p-0">
                                    <a href="#">
                                        <h3 class="mb-0">
                                            Musée des Instruments de Musique
                                        </h3>
                                    </a>
                                    <div class="category p-0">
                                        <a href="#" class="btn btn-link p-0" title="SPORTS INDIVIDUELS">
                                            RESTAURANT<i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card border-0 rounded-0">
                                <figure class="position-relative">
                                    <a href="#">
                                        <img src="{{assets}}images/interview_small_4.jpg" class="card-img-top" alt="">
                                    </a>
                                    <a href="#" class="btn btn-light position-absolute blife-filter">
                                        Ixelles
                                    </a>
                                </figure>
                                <div class="card-body p-0">
                                    <a href="#">
                                        <h3 class="mb-0">
                                            Musée des Instruments de Musique
                                        </h3>
                                    </a>
                                    <div class="category p-0">
                                        <a href="#" class="btn btn-link p-0" title="SPORTS INDIVIDUELS">
                                            RESTAURANT<i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>