<blife-block>
    <!--<div class="row bg-danger block-title-full mb-4">-->
        <!--<div class="col-12">-->
            <!--<a href="#">-->
                <!--<h3 class="text-center text-white py-2">-->
                    <!--<i class="fa fa-futbol-o" aria-hidden="true"></i>-->
                    <!--<strong>-->
                        <!--SPORTS-->
                    <!--</strong>-->
                    <!--<i class="fa fa-angle-right"></i>-->

                <!--</h3>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-12 col-md-7">
            <div id="block-3-1" class="position-relative">
                {{#parseJSON '{"name": "BLOCK 3"}'}}
                {{> block-edit}}
                {{/parseJSON}}
                <div class="block-content">

                    <!--<div class="block-address">-->
                        <!--&lt;!&ndash;<div class="block-title">&ndash;&gt;-->
                    <!--&lt;!&ndash;<h2 class="my-3">&ndash;&gt;-->
                    <!--&lt;!&ndash;{{__.restaurants_brussels}}&ndash;&gt;-->
                    <!--&lt;!&ndash;<em>&ndash;&gt;-->
                    <!--&lt;!&ndash;<strong>&ndash;&gt;-->
                    <!--&lt;!&ndash;{{__.in_brussels}}&ndash;&gt;-->
                    <!--&lt;!&ndash;</strong>&ndash;&gt;-->
                    <!--&lt;!&ndash;</em>&ndash;&gt;-->
                    <!--&lt;!&ndash;</h2>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="mb-4">-->
                        <!--<div class="">-->
                            <!--<div class="card border-0 rounded-0">-->
                                <!--<figure class="position-relative">-->
                                    <!--<a href="#">-->
                                        <!--<img class="rounded-0 card-img-top"-->
                                             <!--src="{{assets}}images/address_block_3.jpg" alt="Address block 3"/></a>-->

                                <!--</figure>-->
                                <!--<div class="card-body pb-0 pl-0">-->
                                    <!--<a href="#" class="float-left">-->
                                        <!--<h3>La Maroquinerie <span class="badge">-->
                            <!--<img data-toggle="tooltip" data-placement="top" data-title="Promotion"-->
                                 <!--src="{{assets}}svg/promotion.svg" alt="">-->
                                    <!--</span></h3>-->
                                    <!--</a>-->
                                    <!--<a href="#" class="btn btn-light blife-filter"> ITALIAN</a>-->

                                    <!--<div class="clearfix"></div>-->
                                    <!--<address class="my-2" data-toggle="tooltip" data-placement="left"-->
                                             <!--data-title="Show map">-->
                                        <!--<i class="fa fa-map-marker"></i> Rue Washington, 174 - 1050 Ixelles-->
                                        <!--Châtelain-->
                                    <!--</address>-->
                                    <!--<a href="#">-->
                                        <!--<p class="address-tag-line  mb-0">-->
                                            <!--Atelier spécialisé dans la restauration, la réparation et la confection-->
                                            <!--d'articles de luxe en cuir.-->
                                        <!--</p>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                    <div class="block-article">
                        <div class="card border-0 rounded-0 mb-4 bg-grey-alpha">
                            <a href="#">
                                <figure>
                                    <img class="rounded-0 card-img-top" src="../public/images/sports_article.jpg" alt="Article block 1">
                                </figure>
                            </a>
                            <div class="card-body">
                                <a href="#">
                                    <h2 class="my-2">
                                        <strong>
                                            Les cafés bruxellois pour étudier
                                        </strong>
                                    </h2>
                                    <p class="mb-0">
                                        L'Abbaye de Villers-la-Ville accueille le magnifique spectacle "Nuit Des Chœurs"
                                        les
                                        24 et 25
                                        août. Découvrez le très beau programme de l'événement:
                                    </p>
                                </a>
                                <div class="category py-2">
                                    <a href="#" class="btn btn-link p-0" title="SPORTS INDIVIDUELS">
                                        SPORTS INDIVIDUELS <i class="fa fa-angle-right"></i>
                                    </a>
                                    <a href="#" class="float-right btn btn-link text-muted p-0"><i class="fa fa-comment" aria-hidden="true"></i><span class="comments-count ">10</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> block-18}}
    </div>
</blife-block>
