<div class="col-12 col-md-5 pr-0">
    <blife-block>
        <div id="block-21" class="position-relative">
            {{#parseJSON '{"name": "BLOCK 21"}'}}
            {{> block-edit}}
            {{/parseJSON}}
            <div class="block-content">
                <div class="block-address-list mt-3">
                    <div class="imu-block">
                        <a href="#">
                            <img src="{{assets}}images/imu.jpg" alt="Advertisement Block">
                        </a>
                    </div>
                    <ul class="list-unstyled">
                        <li class="flex-wrap media mb-3 border-bottom ">
                            <div class="media-image position-relative">
                                <a href="#">
                                    <img src="{{assets}}images/address_3.jpg" alt="" class="mr-3">
                                </a>

                                <a href="#" class="blife-filter btn btn-light">MODE</a>
                            </div>
                            <div class="media-body">
                                <a href="#">
                                    <h5>
                                        Gil Galway
                                    </h5>
                                    <p>
                                        L’endroit idéal où confectionner un costume sur-mesure pour homme
                                        <span>- Ixelles</span>
                                    </p>
                                </a>
                            </div>
                        </li>
                        <li class="flex-wrap media mb-3 ">
                            <div class="media-image position-relative">
                                <a href="#">
                                    <img src="{{assets}}images/address_4.jpg" alt="" class="mr-3">
                                </a>

                                <a href="#" class="blife-filter btn btn-light">MODE</a>
                            </div>
                            <div class="media-body">
                                <a href="#">
                                    <h5>
                                        La Maison Degand

                                    </h5>
                                    <p>
                                        L’endroit idéal où confectionner un costume sur-mesure pour homme
                                        <span>- Ixelles</span>
                                    </p>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </blife-block>
</div>
