<div class="row">
    <div class="col-12 col-md-12">
        <div id="block-four" class="position-relative">
            {{#parseJSON '{"name": "BLOCK 4"}'}}
            {{> block-edit}}
            {{/parseJSON}}
            <div class="block-content">
                <div class="block-article">
                    <a href="#">
                        <img src="{{assets}}images/block-4.jpg" class="img-fluid" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>