<block-edit class="block-edit hide position-absolute">
    <div class="row">
        <div class="col">
            <div class="block-info">
                <span class="badge badge-dark block-name rounded-0">{{name}}</span>
            </div>
        </div>
        <div class="col">
            <div class="edit-block float-right">
                <div class="dropdown">
                    <button class="btn  btn-info btn-sm" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu">

                        <a class="dropdown-item" href="#">
                            <i class="fa fa-sliders" aria-hidden="true"></i> Configure
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-calendar" aria-hidden="true"></i> Schedule
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-eye-slash" aria-hidden="true"></i> Hide
                        </a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="#"><i class="fa fa-circle-o" aria-hidden="true"></i>
                            Address</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-circle-o" aria-hidden="true"></i>
                            Agenda</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-circle-o" aria-hidden="true"></i>
                            Folder</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-check-circle-o"
                                                             aria-hidden="true"></i> Article</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</block-edit>