<div class="col-12 col-md-5">
    <blife-block>
        <div id="block-18" class="position-relative">
            {{#parseJSON '{"name": "BLOCK 18"}'}}
            <!--{{> block-edit}}-->
            {{/parseJSON}}
            <div class="block-content">
                <div class="block-address-list">
                    <!--<div class="block-title">-->
                    <!--<h2 class="my-3">-->
                    <!--{{__.new_restaurants_brussels}}-->
                    <!--<em>-->
                    <!--<strong>-->
                    <!--{{__.in_brussels}}-->
                    <!--</strong>-->
                    <!--</em>-->
                    <!--</h2>-->
                    <!--</div>-->
                    <ul class="list-unstyled">
                        <li class="flex-wrap media mb-3 border-bottom ">
                            <div class="media-image position-relative">
                                <a href="#">
                                    <img src="{{assets}}images/address_1.jpg" alt="" class="mr-3">
                                </a>

                                <a href="#" class="blife-filter btn btn-light">Uccle</a>
                            </div>
                            <div class="media-body">
                                <a href="#">
                                    <h5>
                                        Lanieri <span class="badge badge-primary">
                                    New
                                </span>
                                    </h5>
                                    <p>
                                        L’endroit idéal où confectionner un costume sur-mesure pour homme
                                        <span>- Restaurant</span>
                                    </p>
                                </a>
                            </div>
                        </li>
                        <li class="flex-wrap media mb-3 border-bottom ">
                            <div class="media-image position-relative">
                                <a href="#">
                                    <img src="{{assets}}images/address_2.jpg" alt="" class="mr-3">
                                </a>

                                <a href="#" class="blife-filter btn btn-light">Ixelle</a>
                            </div>
                            <div class="media-body">
                                <a href="#">
                                    <h5>
                                        Musée des Instruments de Musique <span class="badge badge-primary">
                                    New
                                </span>
                                    </h5>
                                    <p>
                                        L’endroit idéal où confectionner un costume sur-mesure pour homme
                                        <span>- Restaurant</span>
                                    </p>
                                </a>
                            </div>
                        </li>
                        <li class="flex-wrap media mb-3 border-bottom ">
                            <div class="media-image position-relative">
                                <a href="#">
                                    <img src="{{assets}}images/address_3.jpg" alt="" class="mr-3">
                                </a>

                                <a href="#" class="blife-filter btn btn-light">Uccle</a>
                            </div>
                            <div class="media-body">
                                <a href="#">
                                    <h5>
                                        Gil Galway
                                    </h5>
                                    <p>
                                        L’endroit idéal où confectionner un costume sur-mesure pour homme
                                        <span>- Restaurant</span>
                                    </p>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="more-addresses"
                       style="background:url('{{assets}}images/more-restaurants.jpg') center center no-repeat;background-size: cover;">
                        <p class="btn btn-light text-center">
                            Find more Italian restaurants <i class="fa fa-angle-right"></i>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </blife-block>
</div>
