<blife-block>
    <div id="block-14" class="position-relative">
        {{#parseJSON '{"name": "BLOCK 14"}'}}
        {{> block-edit}}
        {{/parseJSON}}
        <div class="block-content border-top">
            <div class="block-content">
                <div class="block-title-full my-3">
                    <h3 class="text-center">
                        <strong>
                            SEE ALL ARTICLES
                        </strong>
                        <small class="text-center">
                            Fine where to go for a great night out in Brussels We have found romantic basement bars ,
                            late night parties old pubs and sunny roof terraces.
                        </small>
                    </h3>

                </div>

                <div class="section-content-carousel-2 ">
                    <div class="carousel-cell">
                        <a href="#">
                            <figure class="mb-2">
                                <img src="{{assets}}images/content_img_1.jpg" alt="">
                            </figure>
                            <h4>
                                late night parties old pubs and sunny roof terraces.
                            </h4>
                        </a>
                    </div>

                    <div class="carousel-cell">
                        <a href="#">
                            <figure class="mb-2">
                                <img src="{{assets}}images/content_img_2.jpg" alt="">
                            </figure>
                            <h4> Old pubs and sunny roof terraces.</h4>
                        </a>
                    </div>

                    <div class="carousel-cell">
                        <a href="#">
                            <figure class="mb-2">
                                <img src="{{assets}}images/content_img_1.jpg" alt="">
                            </figure>
                            <h4>
                               Night parties old pubs and sunny roof terraces.
                            </h4>
                        </a>
                    </div>

                    <div class="carousel-cell">
                        <a href="#">
                            <figure class="mb-2">
                                <img src="{{assets}}images/content_img_2.jpg" alt="">
                            </figure>
                            <h4>
                                Business lunch
                            </h4>
                        </a>
                    </div>

                    <div class="carousel-cell">
                        <a href="#">
                            <figure class="mb-2">
                                <img src="{{assets}}images/content_img_1.jpg" alt="">
                            </figure>
                            <h4>
                                Fast foot restaurants
                            </h4>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</blife-block>