<blife-block>

    <div id="block-13" class="position-relative">
        {{#parseJSON '{"name": "BLOCK 13"}'}}
        {{> block-edit}}
        {{/parseJSON}}
        <div class="block-content border-top">
            <div class="block-content">
                <div class="block-title-full">
                    <h3 class="text-center">
                        BRUSSELS REGORGE DE BONS RESTAURANTS
                    </h3>
                </div>

                <div class="section-content-carousel ">
                    <div class="carousel-cell">
                        <a href="#">
                            <figure class="mb-2">
                                <img src="{{assets}}images/content_img_1.jpg" alt="">
                            </figure>
                            <h4>
                                Romantic restaurants
                            </h4>
                        </a>
                    </div>

                    <div class="carousel-cell">
                        <a href="#">
                            <figure class="mb-2">
                                <img src="{{assets}}images/content_img_1.jpg" alt="">
                            </figure>
                            <h4> Family Restaurants</h4>
                        </a>
                    </div>

                    <div class="carousel-cell">
                        <a href="#">
                            <figure class="mb-2">
                                <img src="{{assets}}images/content_img_2.jpg" alt="">
                            </figure>
                            <h4>
                                Best roof top restaurants
                            </h4>
                        </a>
                    </div>

                    <div class="carousel-cell">
                        <a href="#">
                            <figure class="mb-2">
                                <img src="{{assets}}images/content_img_1.jpg" alt="">
                            </figure>
                            <h4>
                                Business lunch
                            </h4>
                        </a>
                    </div>

                    <div class="carousel-cell">
                        <a href="#">
                            <figure class="mb-2">
                                <img src="{{assets}}images/content_img_2.jpg" alt="">
                            </figure>
                            <h4>
                                Fast foot restaurants
                            </h4>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</blife-block>