<div class="col-12 col-md-5">
    <div id="block-16" class="position-relative">
        {{#parseJSON '{"name": "BLOCK 16"}'}}
        {{> block-edit}}
        {{/parseJSON}}
        <div class="block-content">
            <div class="block-article">
                <ul class="list-unstyled">
                    <li class="flex-wrap media mb-3 border-bottom ">
                        <div class="media-image">
                            <a href="#">

                                <img
                                        src="../public/images/blur.jpg"
                                        data-src="../public/images/thumb_img_1.jpg" alt=""
                                     class="sombal mr-3">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>
                                    Gérard Depardieu en « guest star » du Brussels International Film Festival ce lundi ffsfsf
                                </h5>
                            </a>
                        </div>
                        <div class="category">
                            <a href="#" class="btn btn-link p-0" title="SPORTS INDIVIDUELS">
                                SPORTS  <i class="fa fa-angle-right"></i>
                            </a>
                            <a href="#" class="float-right btn btn-link text-muted"><i class="fa fa-comment"
                                                                                       aria-hidden="true"></i><span
                                    class="comments-count">10</span></a>
                        </div>
                    </li>
                    <li class="flex-wrap media mb-3 border-bottom ">
                        <div class="media-image">
                            <a href="#">
                                <img src="../public/images/blur.jpg"
                                     data-src="../public/images/article_small_1.jpg" alt=""
                                     class="sombal mr-3">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>
                                    La Foire du Midi 2018: découvrez le programme
                                </h5>
                            </a>
                        </div>
                        <div class="category">
                            <a href="#" class="btn btn-link p-0" title="SPORTS INDIVIDUELS">
                                SPORTS  <i class="fa fa-angle-right"></i>
                            </a>
                            <a href="#" class="float-right btn btn-link text-muted"><i class="fa fa-comment"
                                                                                       aria-hidden="true"></i><span
                                    class="comments-count">10</span></a>
                        </div>
                    </li>
                    <li class="flex-wrap media mb-3 border-bottom ">
                        <div class="media-image">
                            <a href="#">
                                <img src="../public/images/blur.jpg" data-src="../public/images/article_small_2.jpg" alt="" class="sombal mr-3">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>
                                    Le plateau du Heysel va pétiller avec "Les Feux de Laeken"


                                </h5>
                            </a>
                        </div>
                        <div class="category">
                            <a href="#" class="btn btn-link p-0" title="SPORTS INDIVIDUELS">
                                SPORTS  <i class="fa fa-angle-right"></i>
                            </a>
                            <a href="#" class="float-right btn btn-link text-muted"><i class="fa fa-comment"
                                                                                       aria-hidden="true"></i><span
                                    class="comments-count">10</span></a>
                        </div>
                    </li>
                    <li class="flex-wrap media mb-3 border-bottom ">
                        <div class="media-image">
                            <a href="#">
                                <img src="../public/images/blur.jpg"
                                     data-src="../public/images/article_small_3.jpg" alt="" class="sombal mr-3">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>
                                    Brussels Summer Festival 2018 : demandez le programme
                                </h5>
                            </a>
                        </div>
                        <div class="category">
                            <a href="#" class="btn btn-link p-0" title="SPORTS INDIVIDUELS">
                                SPORTS  <i class="fa fa-angle-right"></i>
                            </a>
                            <a href="#" class="float-right btn btn-link text-muted">
                                <i class="fa fa-comment"
                                                                                       aria-hidden="true"></i><span
                                    class="comments-count">10</span></a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>