<header>
    <!--<section class="top-header">-->
    <!--<div class="container bg-transparent">-->
    <!--<div class="row no-gutters">-->
    <!--<div class="col-sm-4">-->

    <!--<a href="#">About</a>-->
    <!--<a href="#">Contact us</a>-->
    <!--<a href="#">Newsletter</a>-->

    <!--</div>-->
    <!--<div class="col-sm-8">-->
    <!--<ul class="list-unstyled login-notify-profile">-->
    <!--<li>-->
    <!--<div class="dropdown btn-create-content">-->
    <!--<button data-toggle="dropdown">-->
    <!--+-->
    <!--</button>-->

    <!--<div class="dropdown-menu">-->
    <!--<a href="#">-->
    <!--<img src="/public/svg/my-location-marker.svg" alt="">-->
    <!--Create Address-->
    <!--<span>-->
    <!--Create a page for business-->
    <!--</span>-->
    <!--</a>-->
    <!--<a href="#">-->
    <!--<img src="/public/svg/menu-icon-events.svg" alt="">-->
    <!--Create Agenda-->
    <!--<span>-->
    <!--Create a page for business-->
    <!--</span>-->
    <!--</a>-->
    <!--<a href="#">-->
    <!--<img src="/public/svg/menu-icon-promotion.svg" alt="">-->
    <!--Create Promotion-->
    <!--<span>-->
    <!--Create a page for business-->
    <!--</span>-->
    <!--</a>-->
    <!--<a href="#">-->
    <!--<img src="/public/svg/menu-icon-article.svg" alt="">-->
    <!--Create Article-->
    <!--<span>-->
    <!--Create a page for business-->
    <!--</span>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li>-->
    <!--<div class="dropdown site-notifications">-->
    <!--<button data-toggle="dropdown">-->
    <!--<span>-->
    <!--4-->
    <!--</span>-->
    <!--<img src="{{assets}}svg/bl-icon-notification.svg" alt="">-->
    <!--</button>-->
    <!--<div class="dropdown-menu">-->
    <!--<div class="dropdown-title">-->
    <!--<strong>-->
    <!--Notifications-->
    <!--</strong>-->
    <!--<a href="#">-->
    <!--Mark all as read-->
    <!--</a>-->
    <!--</div>-->

    <!--<div class="media">-->
    <!--<a href="#">-->
    <!--<div class="d-flex">-->
    <!--<figure>-->
    <!--<img src="{{assets}}images/todo-2.jpg" alt=""/>-->
    <!--</figure>-->
    <!--<p>-->
    <!--<span class="name">-->
    <!--Nirupa-->
    <!--</span>wrote a review on<span class="content-type">-->
    <!--By Check Michel ilaienne-->
    <!--</span>address-->
    <!--</p>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="media read">-->
    <!--<a href="#">-->
    <!--<div class="d-flex">-->
    <!--<figure>-->
    <!--<img src="{{assets}}images/todo-3.jpg" alt=""/>-->
    <!--</figure>-->
    <!--<p>-->
    <!--<span class="name">-->
    <!--Nirupa-->
    <!--</span>wrote a review on<span class="content-type">-->
    <!--By Check Michel ilaienne-->
    <!--</span>address-->
    <!--</p>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="media">-->
    <!--<a href="#">-->
    <!--<div class="d-flex">-->
    <!--<figure>-->
    <!--<img src="{{assets}}images/todo-4.jpg" alt=""/>-->
    <!--</figure>-->
    <!--<p>-->
    <!--<span class="name">-->
    <!--Nirupa-->
    <!--</span>wrote a review on<span class="content-type">-->
    <!--By Check Michel ilaienne-->
    <!--</span>address-->
    <!--</p>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li>-->
    <!--<div class="dropdown site-global-search">-->
    <!--<a href="#" data-toggle="dropdown">-->
    <!--<i class="fa fa-search"></i>-->
    <!--</a>-->
    <!--<div class="dropdown-menu">-->
    <!--<div class="form-element">-->
    <!--<input type="text"-->
    <!--class="form-control"-->
    <!--placeholder="Search">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li>-->
    <!--<div class="dropdown user-profile-dropdown">-->
    <!--<a href="!#" data-toggle="dropdown">-->
    <!--<img src="{{assets}}images/profile.png" alt="">-->
    <!--</a>-->

    <!--&lt;!&ndash;<div class="dropdown-menu">&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="#">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="{{assets}}svg/bl-icon-butterfly.svg" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;Favourites&ndash;&gt;-->
    <!--&lt;!&ndash;<span>&ndash;&gt;-->
    <!--&lt;!&ndash;Favourite address, events, articles&ndash;&gt;-->
    <!--&lt;!&ndash;</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="#">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="{{assets}}svg/bl-icon-butterfly.svg" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;Saved post&ndash;&gt;-->
    <!--&lt;!&ndash;<span>&ndash;&gt;-->
    <!--&lt;!&ndash;Saved promotion, events, products etc..&ndash;&gt;-->
    <!--&lt;!&ndash;</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="#">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="{{assets}}svg/bl-icon-butterfly.svg" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;Activity&ndash;&gt;-->
    <!--&lt;!&ndash;<span>&ndash;&gt;-->
    <!--&lt;!&ndash;Find your activity eg likes, reviews, comments&ndash;&gt;-->
    <!--&lt;!&ndash;</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="#">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="{{assets}}svg/bl-icon-butterfly.svg" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;Profile&ndash;&gt;-->
    <!--&lt;!&ndash;<span>&ndash;&gt;-->
    <!--&lt;!&ndash;Saved promotion, events, products etc..&ndash;&gt;-->
    <!--&lt;!&ndash;</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="#">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="{{assets}}svg/bl-icon-butterfly.svg" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;Reviews&ndash;&gt;-->
    <!--&lt;!&ndash;<span>&ndash;&gt;-->
    <!--&lt;!&ndash;Saved promotion, events, products etc..&ndash;&gt;-->
    <!--&lt;!&ndash;</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="earn-points">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="{{assets}}svg/trophy.svg" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;You earned 1200 points - <a href="#">&ndash;&gt;-->
    <!--&lt;!&ndash;Learn how&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="invite-friend">&ndash;&gt;-->
    <!--&lt;!&ndash;Invite a friend to Brusselsife&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--</li>-->
    <!--<li>-->
    <!--<div class="dropdown switch-language ">-->
    <!--<a href="#"-->
    <!--data-toggle="dropdown">-->
    <!--<strong>-->
    <!--EN-->
    <!--</strong>-->
    <!--</a>-->
    <!--<ul class="dropdown-menu">-->
    <!--<li>-->
    <!--<a href="#">EN</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="#">FR</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="#">NL</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->

    <section class="bg-transparent">
        <div class="container bg-transparent">
            <div class="row no-gutters">
                <div class="col-lg-4">
                    <a href="/" class="logo">
                        <img src="{{assets}}images/logo.png"
                             title="Brusselslife.be"
                             name="Brusselslife.be"
                             alt="Brusselslife.be">
                    </a>
                </div>
                <div class="col-lg-8">
                    <!-- leader board advertisement -->

                </div>
            </div>
        </div>
    </section>


    <section class="main-navigation">
        <nav>
            <div class="" id="blifeNavBar">
                <div class="main-menu-wrapper d-flex">
                    <a href="/" class="small-logo">
                        <img src="{{assets}}images/brusselslife_logo.png"
                             title="Brusselslife.be"
                             name="Brusselslife.be"
                             alt="Brusselslife.be">
                    </a>
                    <ul class="main-menu">
                        <li id="menu-item-0" class="dropdown">
                            <a href="#">BRUXELLES PRATIQUE</a>
                            <span></span>


                            <div class="dropdown-menu sub-level-dropdown">
                                <div class="container bg-transparent">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul class="nav-sub-menu">
                                                <li>
                                                    <a href="#">
                                                        Mobilité
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Etudier et Apprendre
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        Environnement
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        Hotels & Se Loger
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Santé
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        Parcs & Espaces Verts
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="nav-featured-article">
                                                        <h2>
                                                            Featured articles
                                                        </h2>
                                                        <div class="media">
                                                            <a href="#">

                                                                <img src="{{assets}}images/menu_article_1.jpg" alt="">
                                                                <div>
                                                                    <h3>
                                                                        Découvrez le Parlement européen sous un nouvel
                                                                        angle
                                                                    </h3>
                                                                    <div class="category-comments-views">
                                                                    <span href="#" class="bxl-category">
                                                                        SPORTS
                                                                    </span>
                                                                    </div>
                                                                </div>

                                                            </a>
                                                        </div>

                                                        <div class="media">
                                                            <a href="#">

                                                                <img src="{{assets}}images/menu_article_2.jpg" alt="">

                                                                <div>
                                                                    <h3>
                                                                        Découvrez le Parlement européen sous un nouvel
                                                                        angle
                                                                    </h3>
                                                                    <div class="category-comments-views">
                                                                    <span href="#" class="bxl-category">
                                                                        SPORTS
                                                                    </span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>

                                                        <div class="media">
                                                            <a href="#">
                                                                <img src="{{assets}}images/menu_article_3.jpg" alt="">
                                                                <div>
                                                                    <h3>
                                                                        Découvrez le Parlement européen sous un nouvel
                                                                        angle
                                                                    </h3>
                                                                    <div class="category-comments-views">
                                                                    <span href="#" class="bxl-category">
                                                                        SPORTS
                                                                    </span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="row nav-featured-address">
                                                        <div class="col-12">
                                                            <h2>
                                                                Featured address
                                                            </h2>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <a href="#">
                                                                <div>
                                                                    <h3>
                                                                        Tavene du Passage
                                                                    </h3>
                                                                    <p>
                                                                        <small>
                                                                            Brussels 1000
                                                                        </small>
                                                                    </p>
                                                                </div>
                                                                <figure>
                                                                    <img src="{{assets}}images/menu_address_1.jpg"/>
                                                                </figure>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <a href="#">
                                                                <div>
                                                                    <h3>
                                                                        Tavene du Passage
                                                                    </h3>
                                                                    <p>
                                                                        <small>
                                                                            Brussels 1000
                                                                        </small>
                                                                    </p>
                                                                </div>
                                                                <figure>
                                                                    <img src="{{assets}}images/menu_address.jpg"/>
                                                                </figure>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </li>
                        <li id="menu-item-1">
                            <a href="#">EAT & DRINK</a>
                            <span></span>
                        </li>
                        <li class="" id="menu-item-2">
                            <a href="#">SHOPPING</a>
                            <span></span>
                        </li>
                        <li class="" id="menu-item-5">
                            <a href="#">BEAUTÉ </a>
                            <span></span>
                        </li>
                        <li class="" id="menu-item-3">
                            <a href="#">SPORTS</a>
                            <span></span>
                        </li>
                        <li class="" id="menu-item-4">
                            <a href="#">SORTIR </a>
                            <span></span>
                        </li>

                        <li class="item-agenda dropdown" id="menu-item-7">
                            <a href="/agenda"><i class="fa fa-calendar"></i> AGENDA </a>
                            <span></span>

                            <div class="dropdown-menu sub-level-dropdown">
                                <div class="container bg-transparent">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="nav-featured-article">
                                                        <h2>
                                                            Featured articles
                                                        </h2>
                                                        <div class="media">
                                                            <a href="#">
                                                                <img src="{{assets}}images/menu_article_1.jpg" alt="">
                                                                <div>
                                                                    <h3>
                                                                        Découvrez le Parlement européen sous un nouvel
                                                                        angle
                                                                    </h3>
                                                                    <div class="category-comments-views">
                                                                    <span href="#" class="bxl-category">
                                                                        SPORTS
                                                                    </span>
                                                                    </div>
                                                                </div>

                                                            </a>
                                                        </div>

                                                        <div class="media">
                                                            <a href="#">

                                                                <img src="{{assets}}images/menu_article_2.jpg" alt="">

                                                                <div>
                                                                    <h3>
                                                                        Découvrez le Parlement européen sous un nouvel
                                                                        angle
                                                                    </h3>
                                                                    <div class="category-comments-views">
                                                                    <span href="#" class="bxl-category">
                                                                        SPORTS
                                                                    </span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>

                                                        <div class="media">
                                                            <a href="#">
                                                                <img src="{{assets}}images/menu_article_3.jpg" alt="">
                                                                <div>
                                                                    <h3>
                                                                        Découvrez le Parlement européen sous un nouvel
                                                                        angle
                                                                    </h3>
                                                                    <div class="category-comments-views">
                                                                    <span href="#" class="bxl-category">
                                                                        SPORTS
                                                                    </span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="row nav-featured-address">
                                                        <div class="col-12">
                                                            <h2>
                                                                Featured address
                                                            </h2>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <a href="#">
                                                                <div>
                                                                    <h3>
                                                                        Tavene du Passage
                                                                    </h3>
                                                                    <p>
                                                                        <small>
                                                                            Brussels 1000
                                                                        </small>
                                                                    </p>
                                                                </div>
                                                                <figure>
                                                                    <img src="{{assets}}images/menu_address_1.jpg"/>
                                                                </figure>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <a href="#">
                                                                <div>
                                                                    <h3>
                                                                        Tavene du Passage
                                                                    </h3>
                                                                    <p>
                                                                        <small>
                                                                            Brussels 1000
                                                                        </small>
                                                                    </p>
                                                                </div>
                                                                <figure>
                                                                    <img src="{{assets}}images/menu_address.jpg"/>
                                                                </figure>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <ul class="nav-sub-menu">
                                                <li>
                                                    <a href="#">
                                                        Mobilité
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Etudier et Apprendre
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        Environnement
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        Hotels & Se Loger
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Santé
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        Parcs & Espaces Verts
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </section>
    <div class="arrow-top bg-danger position-fixed text-center text-white">
        <i class="fa fa-arrow-up"></i>
        <span>
    <strong>TOP</strong>
    </span>
    </div>
</header>

<!--<section>-->
    <!--<div class="container bg-transparent">-->
       <!--<div class="row">-->
           <!--<div class="col-md-12">-->
               <!--{{> leader-board }}-->
           <!--</div>-->
       <!--</div>-->
    <!--</div>-->
<!--</section>-->
