<div class="col-md-4 " id="home-block-four-second">
    <div class="block-content">
        <div class="block-address bg-white shadow-lg">
            <div class="block-title">
                <h2>
                    Near by addresses
                </h2>
                <a href="#" class="active">
                    RESTAURANTS
                </a>
                <a href="#">
                    BARS
                </a>
                <a href="#">
                    FAST FOOD
                </a>
                <a href="#">
                    COFFEE SHOPS
                </a>
            </div>
            <ul class="list-unstyled">
                <li>
                    <div class="media">
                        <a href="#">

                            <img src="{{assets}}images/address_small.jpg" alt="">
                           <div>
                               <h3>
                                   Ezequiel Dengra
                               </h3>
                               <p>
                                   La Taverne du Passage à Bruxelles vous ouvre ses portes pour vous faire.
                               </p>
                           </div>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#">

                        <img src="{{assets}}images/address_small_2.jpg" alt="">
                       <div>
                           <h3>
                               Ezequiel Dengra
                           </h3>
                           <p>
                               La Taverne du Passage à Bruxelles vous ouvre ses portes pour vous faire.
                           </p>
                       </div>
                    </a>
                </li>
                <li>
                    <a href="#">

                        <img src="{{assets}}images/address_small_3.jpg" alt="">
                        <div>
                            <h3>
                                Ezequiel Dengra
                            </h3>
                            <p>
                                La Taverne du Passage à Bruxelles vous ouvre ses portes pour vous faire.
                            </p>
                        </div>
                    </a>
                </li>
            </ul>


            <a href="#">
                <img src="{{assets}}images/imu.jpg" alt="">
            </a>
        </div>
    </div>
</div>
