<section class="container bg-white shadow-lg mb-4"
         id="home-block-address">
    <div class="row bg-primary block-title-full mb-4">
        <div class="col-12">
            <h3 class="text-center text-white py-2">
                <strong>
                    EAT & DRINK
                </strong>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="block-content">
                <div class="block-address">
                    <a href="#">
                        <figure>
                            <img src="{{assets}}images/article_img_5.jpg" alt="">
                        </figure>
                        <h3>
                            Découvrez le Parlement européen sous un nouvel angle
                        </h3>
                        <p class="address">
                            <i class="fa fa-map-marker">

                            </i> Place Fernand Cocq, 21 - 1050 Bruxelles

                        </p>
                        <p>
                            Le Parlamentarium, Centre des visiteurs du Parlement européen, est le plus grand centre
                            dédié aux
                            visiteurs édifié par un parlement en Europe.
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="block-content">
                <div class="block-address-list">

                    <ul class="list-unstyled">
                        <li>
                            <div class="media">
                                <a href="#">
                                    <figure>
                                        <img src="{{assets}}images/article_img_5_1.jpg" alt="">
                                    </figure>

                                    <div>
                                        <h3>
                                            Ezequiel Dengra
                                        </h3>
                                        <p>
                                            <small>
                                                <i class="fa fa-map-marker"></i> 1000 - Brussels
                                            </small>
                                        </p>
                                        <p>
                                            La Taverne du Passage à Bruxelles vous ouvre ses portes pour vous faire.
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <a href="#">
                                    <figure>
                                        <img src="{{assets}}images/article_img_5_2.jpg" alt="">
                                    </figure>

                                    <div>
                                        <h3>
                                            Ezequiel Dengra
                                        </h3>
                                        <p>
                                            <small>
                                                <i class="fa fa-map-marker"></i> 1000 - Brussels
                                            </small>
                                        </p>
                                        <p>
                                            La Taverne du Passage à Bruxelles vous ouvre ses portes pour vous faire.
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <a href="#">
                                    <figure>
                                        <img src="{{assets}}images/article_img_5_3.jpg" alt="">
                                    </figure>

                                    <div>
                                        <h3>
                                            Ezequiel Dengra
                                        </h3>
                                        <p>
                                            <small>
                                               <i class="fa fa-map-marker"></i> 1000 - Brussels
                                            </small>
                                        </p>
                                        <p>
                                            La Taverne du Passage à Bruxelles vous ouvre ses portes pour vous faire.
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <a href="#">
                                    <figure>
                                        <img src="{{assets}}images/article_img_5_4.jpg" alt="">
                                    </figure>

                                    <div>
                                        <h3>
                                            Ezequiel Dengra
                                        </h3>
                                        <p>
                                            <small>
                                                <i class="fa fa-map-marker"></i> 1000 - Brussels
                                            </small>
                                        </p>
                                        <p>
                                            La Taverne du Passage à Bruxelles vous ouvre ses portes pour vous faire.
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>