<blife-block>
    <div id="home_search">
        <section class="container form-wrapper bg-transparent">
            <div class="row align-items-center justify-content-center no-gutters">
                <div class="col-md-8">
                    <div class="tab-content">
                        <div class="tab-pane active" id="address_search">
                            <form id="address_search_form" action="/search">
                                <label class="sr-only">
                                    {{__.search_input}}</label>
                                <div class="input-group input-group-lg">
                                    <div class="input-group-prepend d-none d-sm-block">
                                        <div class="input-group-text">
                                            <img src="{{assets}}svg/bl-icon-search.svg" alt="">
                                        </div>
                                    </div>
                                    <input type="text" autofocus="true" autocomplete="off"
                                           class="form-control search_input"
                                           placeholder="Discover Brussels">
                                    <div class="dropdown search_location"
                                    >

                                        <a data-toggle="dropdown" href="#" class="btn btn-default get_user_location">

                                            <img src="{{assets}}svg/my-location-marker.svg" alt="">
                                        </a>
                                        <div class="dropdown-menu p-4 stop-closing">

                                            <div class="l-title">
                                                <img src="{{assets}}svg/my-location-active.svg" alt=""> My location
                                                <button class="btn btn-sm btn-default btn_relocate">Relocate</button>
                                            </div>

                                            <div class="l-input py-4">
                                                <input type="text" placeholder="Choose location"
                                                       class="form-control pac-input">
                                            </div>

                                            <div class="l_current">

                                                <p><i class="fa fa-map-marker"></i> <span>
                                            Belgium Brussels
                                        </span>
                                                    <small>Current location</small>
                                                </p>
                                                <div class="alert alert-warning"></div>
                                            </div>


                                        </div>

                                    </div>
                                    <div class="dropdown search_content_type">
                                        <a href="#" class="btn btn-default" data-toggle="dropdown">
                                           All &nbsp; <i class="fa fa-angle-down"></i>
                                        </a>
                                        <div class="dropdown-menu">


                                            <a href="#">
                                                Addresses
                                            </a>

                                            <a href="#">
                                                Articles
                                            </a>

                                            <a href="#">
                                                Events
                                            </a>

                                            <a href="#">
                                                Prmotions
                                            </a>


                                        </div>
                                    </div>
                                    <div class="dropdown search_event_date">
                                        <a href="#" class="btn btn-default"
                                           data-toggle="dropdown">
                                            <i class="fa fa-calendar"></i>
                                        </a>
                                    </div>

                                    <div class="input-group-btn">
                                        <button class="btn btn-lg btn-primary btn_submit">
                               <span class="d-none d-sm-inline">
                                    Search
                               </span>

                                            <i class="fa fa-search d-inline d-sm-none"></i>

                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="article_search">
                            <form id="article_search_form" action="/search/article">
                                <label class="sr-only">
                                    {{__.search_input}}</label>
                                <div class="input-group input-group-lg">
                                    <div class="input-group-prepend d-none d-sm-block">
                                        <div class="input-group-text">
                                            <img src="{{assets}}svg/bl-icon-search.svg" alt="">
                                        </div>
                                    </div>
                                    <input type="text" autofocus="true" autocomplete="off"
                                           class="form-control search_input"
                                           placeholder="Search articles">
                                    <div class="dropdown search_location"
                                         data-toggle="dropdown">

                                        <a href="#" class="btn btn-default get_user_location">

                                            <img src="{{assets}}svg/my-location-marker.svg" alt=""> Choose location
                                        </a>
                                        <div class="dropdown-menu p-4 stop-closing">

                                            <div class="l-title">
                                                <img src="{{assets}}svg/my-location-active.svg" alt=""> My location
                                                <button class="btn btn-sm btn-default btn_relocate">Relocate</button>
                                            </div>

                                            <div class="l-input py-4">
                                                <input type="text" placeholder="Choose location"
                                                       class="form-control pac-input">
                                            </div>

                                            <div class="l_current">

                                                <p><i class="fa fa-map-marker"></i> <span>
                                            Belgium Brussels
                                        </span>
                                                    <small>Current location</small>
                                                </p>
                                                <div class="alert alert-warning"></div>
                                            </div>


                                        </div>

                                    </div>
                                    <div class="input-group-btn">
                                        <button class="btn btn-lg btn-primary btn_submit">
                               <span class="d-none d-sm-inline">
                                    {{__.search}}
                               </span><i class="fa fa-search d-inline d-sm-none"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="event_search">
                            <form id="events_search_form" action="/search/events">
                                <label class="sr-only">
                                    Search events</label>
                                <div class="input-group input-group-lg">
                                    <div class="input-group-prepend d-none d-sm-block">
                                        <div class="input-group-text">
                                            <img src="{{assets}}svg/bl-icon-search.svg" alt="">
                                        </div>
                                    </div>
                                    <input type="text" autofocus="true" autocomplete="off"
                                           class="form-control search_input"
                                           placeholder="Search events">
                                    <div id="when">
                                        <button id="date_range_picker" class="btn btn-default stop-closing"
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                data-original-title="Choose date or date range">
                                            When <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                    <div id="what">
                                        <select name="" id="event_categories" class="event-category form-control">
                                            <option value="-1">What</option>
                                            <option value="1">All</option>
                                            <option value="1">Concerts</option>
                                            <option value="1">Shows</option>
                                            <option value="1">Exhibition</option>
                                            <option value="1">Theater</option>
                                            <option value="1">Nightlife</option>
                                            <option value="1">Cinema</option>
                                            <option value="1">Other</option>
                                        </select>
                                    </div>
                                    <div class="dropdown search_location"
                                         data-toggle="dropdown">

                                        <a href="#" class="btn btn-default get_user_location"><img
                                                src="{{assets}}svg/my-location-marker.svg" alt=""> Where ?</a>
                                        <div class="dropdown-menu p-4 stop-closing">
                                            <div class="l-title">
                                                <img src="{{assets}}svg/my-location-active.svg" alt=""> My location
                                                <button class="btn btn-sm btn-default btn_relocate">Relocate</button>
                                            </div>

                                            <div class="l-input py-4">
                                                <input type="text" placeholder="Choose location"
                                                       class="form-control pac-input">
                                            </div>

                                            <div class="l_current">

                                                <p><i class="fa fa-map-marker"></i> <span>
                                            Belgium Brussels
                                        </span>
                                                    <small>Current location</small>
                                                </p>
                                                <div class="alert alert-warning"></div>
                                            </div>


                                        </div>

                                    </div>
                                    <div class="input-group-btn">
                                        <button class="btn btn-lg btn-primary btn_submit">
                               <span class="d-none d-sm-inline">
                                    {{__.search}}
                               </span>

                                            <i class="fa fa-search d-inline d-sm-none"></i>

                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</blife-block>