<section class="container">
    <div id="home-block-agenda" class="mb-4 shadow-lg position-relative">
        <div class="block-title">
            <h2>
                EVENTS AROUND BRUSSELS
            </h2>
        </div>

        <div class="agenda-items-carousel">
            <div class="home-agenda-item" data-tlit>
                <a href="#">
                    <div class="tlit-wrapper">
                        <figure>
                            <img src="{{assets}}images/agenda_home.jpg" alt="">
                        </figure>


                        <div class="event-cat">
                            MUSIC
                        </div>

                        <div class="event-date-time">
                            <div class="big-date">
                                15
                            </div>
                            <div class="event-month">
                                november 2018
                            </div>
                        </div>
                    </div>
                    <div class="event-title">
                        DeLa Reussite ParmiVous : l'exposition
                    </div>
                </a>
            </div>
            <div class="home-agenda-item" data-tlit>
                <a href="#">
                    <div class="tlit-wrapper">
                        <figure>
                            <img src="{{assets}}images/agenda_home_2.jpg" alt="">
                        </figure>
                        <div class="event-cat">
                            MUSIC
                        </div>

                        <div class="event-date-time">
                            <div class="big-date">
                                22
                            </div>
                            <div class="event-month">
                                november 2018
                            </div>
                        </div>
                    </div>
                    <div class="event-title">
                        DeLa Reussite ParmiVous : l'exposition
                    </div>
                </a>
            </div>
            <div class="home-agenda-item">
                <a href="#">
                    <div class="tlit-wrapper">
                        <figure>
                            <img src="{{assets}}images/agenda_home_3.jpg" alt="">
                        </figure>
                        <div class="event-cat">
                            MUSIC
                        </div>

                        <div class="event-date-time">
                            <div class="big-date">
                                21
                            </div>
                            <div class="event-month">
                                december 2018
                            </div>
                        </div>
                    </div>
                    <div class="event-title">
                        DeLa Reussite ParmiVous : l'exposition
                    </div>
                </a>
            </div>
            <div class="home-agenda-item" data-tlit>
                <a href="#">
                    <div class="tlit-wrapper">
                        <figure>
                            <img src="{{assets}}images/agenda_home_4.jpg" alt="">
                        </figure>
                        <div class="event-cat">
                            MUSIC
                        </div>
                        <div class="event-date-time">
                            <div class="big-date">
                                06
                            </div>
                            <div class="event-month">
                                january 2019
                            </div>
                        </div>
                    </div>
                    <div class="event-title">
                        DeLa Reussite ParmiVous : l'exposition
                    </div>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>