<section class="container bg-transparent mb-4 p-0" id="home-block-four">
    <div class="row no-gutters">
        <div class="col-md-8 bg-white shadow-lg">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <a href="#">
                            <figure>
                                <img src="{{assets}}images/article_block_4.jpg" alt="">
                            </figure>
                            <div class="category-comments-views">
                                <span class="bxl-category">CATERING</span>
                                <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                            </div>
                            <h3>
                                Découvrez le Parlement européen sous un nouvel angle
                            </h3>
                            <p>
                                Le Parlamentarium, Centre des visiteurs du Parlement européen, est le plus grand centre
                                dédié
                                aux visiteurs édifié par un parlement en Europe.
                            </p>
                        </a>

                        <div class="info_author">
                            <a href="#author_profile">
                                <img src="{{assets}}images/author_1.png" alt="">
                                <p>
                                    Brijamohan Mallick
                                </p>
                            </a>
                        </div>
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            <div class="media">
                                <a href="#">
                                    <figure>
                                        <img src="{{assets}}images/article_4_1.jpg" alt="">
                                    </figure>

                                    <div>
                                        <h3>
                                            Belgique - Angleterre : en route pour la petite finale de la Coupe du monde 2018
                                        </h3>
                                        <div class="category-comments-views">
                                            <span class="bxl-category">
                                                RESTAURANT
                                            </span>
                                            <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                                        </div>
                                    </div>

                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <figure>
                                    <img src="{{assets}}images/article_4_2.jpg" alt="">
                                </figure>

                                <div>
                                    <h3>
                                        Découvrez le Parlement européen sous un nouvel angle
                                    </h3>
                                    <div class="category-comments-views">
                                            <span class="bxl-category">
                                                RESTAURANT
                                            </span>
                                        <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                                    </div>
                                </div>

                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div>
                        <a href="#">
                            <figure>
                                <img src="{{assets}}images/article_block_4_2.jpg" alt="">
                            </figure>
                            <div class="category-comments-views">
                                <span class="bxl-category">CATERING</span>
                                <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                            </div>
                            <h3>
                                Découvrez le Parlement européen sous un nouvel angle
                            </h3>
                            <p>
                                Le Parlamentarium, Centre des visiteurs du Parlement européen, est le plus grand centre
                                dédié
                                aux visiteurs édifié par un parlement en Europe.
                            </p>
                        </a>
                        <div class="info_author">
                            <a href="#author_profile">
                                <img src="{{assets}}images/author_2.png" alt="">
                                <p>
                                    Xing Zheng

                                </p>
                            </a>
                        </div>
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            <div class="media">
                                <a href="#">
                                    <figure>
                                        <img src="{{assets}}images/article_4_3.jpg" alt="">
                                    </figure>

                                    <div>
                                        <h3>
                                            Découvrez le Parlement européen sous un nouvel angle
                                        </h3>
                                        <div class="category-comments-views">
                                            <span class="bxl-category">
                                                RESTAURANT
                                            </span>
                                            <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                                        </div>
                                    </div>

                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <figure>
                                    <img src="{{assets}}images/article_4_4.jpg" alt="">
                                </figure>

                                <div>
                                    <h3>
                                        Découvrez le Parlement européen sous un nouvel angle
                                    </h3>
                                    <div class="category-comments-views">
                                            <span class="bxl-category">
                                                RESTAURANT
                                            </span>
                                        <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                                    </div>
                                </div>

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {{> home-block-four-second }}
    </div>
</section>