<blife-block>
    <section class="container mb-4 shadow-lg" id="home-block-one">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-8">
                        <div class="block-title">
                            <h2>
                                Today <strong>
                                <em>
                                    at Brussels
                                </em>
                            </strong>
                            </h2>
                        </div>
                        <div class="block-content">
                            <div class="carousel-next-prev">
                                <button class="prev">
                                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                                </button>
                                <button class="next">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="swiper-container">
                                <div class="today-brussels-carousel swiper-wrapper">
                                    <div class="bxl-item swiper-slide">

                                        <a href="#">
                                            <h3>
                                                LES 14 MEILLEURES ÉPICERIES FINES DE BRUXELLES
                                            </h3>
                                            <figure>
                                                <div class="overlay"></div>
                                                <img class="sombal"
                                                     data-src="{{assets}}images/home_block_1_img.jpg"
                                                     alt="">
                                            </figure>
                                        </a>
                                        <div class="category-comments-views">
                                            <a href="#" class="bxl-category">
                                                SPORTS
                                            </a>
                                            <a href="#" class="bxl-comments">
                                                03 <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="bxl-views">
                                                180 <i class="fa fa-eye"></i>
                                            </a>
                                        </div>
                                        <a href="#">
                                            <p>
                                                Brusselslife vous invite à un voyage culinaire en 14 étapes à travers
                                                l'offre
                                                bruxelloise.
                                            </p>
                                        </a>
                                    </div>
                                    <div class="bxl-item swiper-slide">

                                        <a href="#">
                                            <h3>
                                                LES 14 MEILLEURES ÉPICERIES FINES DE BRUXELLES
                                            </h3>
                                            <figure>
                                                <div class="overlay"></div>
                                                <img class="sombal"
                                                     data-src="{{assets}}images/home_block_2_img.jpg"
                                                     alt="">
                                            </figure>
                                        </a>
                                        <div class="category-comments-views">
                                            <a href="#" class="bxl-category">
                                                SPORTS
                                            </a>
                                            <a href="#" class="bxl-comments">
                                                03 <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="bxl-views">
                                                180 <i class="fa fa-eye"></i>
                                            </a>
                                        </div>
                                        <a href="#">
                                            <p>
                                                Brusselslife vous invite à un voyage culinaire en 14 étapes à travers
                                                l'offre
                                                bruxelloise.
                                            </p>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 brusselslife_spotlight">
                        <div class="block-title">
                            <h2>
                                Brussels <strong>
                                <em>spotlight</em>
                            </strong>
                            </h2>
                        </div>
                        <div class="block-content">
                            <div class="block-address">
                                <div class="bxl-item float-item">
                                    <a href="#">
                                        <div class="float-content">
                                            <div class="category-comments-views">
                                        <span href="#" class="bxl-category">
                                        SPORTS
                                    </span>
                                                <span href="#" class="bxl-comments">
                                        03 <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                    </span>
                                                <span href="#" class="bxl-views">
                                        180 <i class="fa fa-eye"></i>
                                    </span>
                                            </div>

                                            <h3>
                                                Best cooking tips
                                                for couples
                                            </h3>
                                            <p>
                                                Brusselslife vous invite à un voyage culinaire en 14 étapes à
                                                travers l'offre
                                                bruxelloise.
                                            </p>

                                        </div>
                                        <figure>
                                            <div class="overlay"></div>
                                            <img class="sombal"
                                                 data-src="{{assets}}images/kitchen.jpg" alt="">
                                        </figure>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative">
                    {{#parseJSON '{"name": ""}'}}
                    {{> block-edit}}
                    {{/parseJSON}}
                    <div class="block-title">
                        <h2>
                            Popular <strong>
                            <em>
                                Addresses
                            </em>
                        </strong>
                        </h2>
                    </div>
                    <div class="block-content">
                        <div class="block-address">
                            <a class="single_address mb-4" href="#">
                                <figure>
                                    <img src="{{assets}}images/address-home-1.jpg" alt="">
                                </figure>
                                <div class="category-comments-views">
                    <span class="bxl-category" cat_id="cat_23">
                        RESTAURANT
                    </span>
                                </div>

                                <div class="address-title">
                                    Taverne du Passage
                                </div>
                                <div class="address-p-code">
                                    1000 Bruxelles
                                </div>
                                <div class="address-tag-line">
                                    La Taverne du Passage à Bruxelles vous ouvre ses portes pour vous faire.
                                </div>


                            </a>
                            <a class="single_address" href="#">
                                <figure>
                                    <img src="{{assets}}images/address-home-2.jpg" alt="">
                                </figure>
                                <div class="category-comments-views">
                    <span class="bxl-category" cat_id="cat_23">
                        RESTAURANT
                    </span>
                                </div>

                                <div class="address-title">
                                    Taverne du Passage
                                </div>
                                <div class="address-p-code">
                                    1000 Bruxelles
                                </div>
                                <div class="address-tag-line">
                                    La Taverne du Passage à Bruxelles vous ouvre ses portes pour vous faire.
                                </div>


                            </a>
                        </div>
                    </div>


                </div>
            </div>
    </section>
</blife-block>