<!--<div id="left_float_menu">-->
    <!--<ul>-->
        <!--<li>-->
            <!--<a href="#">-->
                <!--<div class="icon-img">-->
                    <!--<i class="fa fa-info-circle" aria-hidden="true"></i>-->
                <!--</div>-->
                <!--<span>About</span>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="#">-->
                <!--<div class="icon-img">-->
                    <!--<i class="fa fa-map-marker" aria-hidden="true"></i>-->
                <!--</div>-->
                <!--<span>Contact Us</span>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="#">-->
                <!--<div class="icon-img">-->
                    <!--<i class="fa fa-envelope" aria-hidden="true"></i>-->
                <!--</div>-->
                <!--<span>Newsletter</span>-->
            <!--</a>-->
        <!--</li>-->

        <!--<li>-->
            <!--<a href="#">-->
                <!--<div class="icon-img">-->
                    <!--<i class="fa fa-plus" aria-hidden="true"></i>-->
                <!--</div>-->
                <!--<span>Create</span>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="#">-->
                <!--<div class="icon-img">-->
                    <!--<i class="fa fa-bell" aria-hidden="true"></i>-->
                <!--</div>-->
                <!--<span>Notifications</span>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="#">-->
                <!--<div class="icon-img">-->
                    <!--<i class="fa fa-search"></i>-->
                <!--</div>-->
                <!--<span>Search</span>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="#">-->
                <!--<div class="icon-img">-->
                    <!--<i class="fa fa-user-circle-o" aria-hidden="true"></i>-->
                <!--</div>-->
                <!--<span>Login</span>-->
            <!--</a>-->
        <!--</li>-->

        <!--<li>-->
            <!--<a href="#">-->
                <!--<span>-->
                    <!--EN-->
                <!--</span>-->
            <!--</a>-->
            <!--<div class="dropdown-menu">-->
                <!--<a href="#">-->
                    <!--FR-->
                <!--</a>-->
                <!--<a href="#">-->
                    <!--EN-->
                <!--</a>-->
                <!--<a href="#">-->
                    <!--NL-->
                <!--</a>-->
            <!--</div>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->