<div class="place-highlights">
        <a href="#" class="h_1"
           data-toggle="modal"
           data-target="#highlight_modal">
            <img data-src="{{assets}}images/status_img.png" class="sombal" alt="">
        </a>
        <a href="#" class="h_2"
           data-toggle="modal"
           data-target="#highlight_modal">
            <img data-src="{{assets}}images/status_img_2.png" class="sombal" alt="">
        </a>
        <a href="#" class="h_3"
           data-toggle="modal"
           data-target="#highlight_modal">
            <img data-src="{{assets}}images/status_img_3.png" class="sombal" alt="">
        </a>
        <div class="d-flex recent_add_post">
            <p>
                Recent stories
            </p>

            <!--<div class="dropdown">-->
                <!--<button class="btn btn-link dropdown"-->
                        <!--data-toggle="dropdown"-->
                        <!--data-placement="top"-->
                        <!--data-title="Add posts">-->
                    <!--<span-->
                            <!--data-placement="top"-->
                            <!--data-title="Add your story"-->
                            <!--data-toggle="tooltip">-->
                        <!--+-->
                    <!--</span>-->
                <!--</button>-->

                <!--<div class="dropdown-menu">-->
                    <!--<button class="btn btn-default">Promotion</button>-->
                    <!--<button class="btn btn-default">Events</button>-->
                    <!--<button class="btn btn-default">Articles</button>-->
                    <!--<button class="btn btn-default">Image</button>-->
                <!--</div>-->
            <!--</div>-->

        </div>

    </div>
<div id="address-nav">
        <nav>
            <ul>
                <li class="active">
                    <a href="/address/" class="btn btn-default">
                        Timeline <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                    </a>
                </li>
                <li>
                    <a href="/address/about" class="btn btn-default">
                        About <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                    </a>
                </li>
                <li>
                    <a href="/address/menu" class="btn btn-default">
                        Menu / Services <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                    </a>
                </li>
                <li>
                    <a href="/address/images" class="btn btn-default">
                        Images <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                    </a>
                </li>
                <li>
                    <a href="/address/promotions" class="btn btn-default">
                        Promotions <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                    </a>
                </li>
                <li>
                    <a href="/address/events" class="btn btn-default">
                        Events <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                    </a>
                </li>
                <li>
                    <a href="/address/products" class="btn btn-default">
                        Products <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                    </a>
                </li>
                <li>
                    <a href="/address/articles" class="btn btn-default">
                        Articles <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                    </a>
                </li>
                <li>
                    <a href="/address/reservations" class="btn btn-default">
                        Reservations <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
<section class="left-block shadow-sm">
        <div class="place-title">
            <h3>
                Social feeds
            </h3>
        </div>
        <ul>
            <li>
                <a href="#">
                    Facebook
                </a>
            </li>
            <li>
                <a href="#">
                    Instagram
                </a>
            </li>
            <li>
                <a href="#">
                    Twitter
                </a>
            </li>
        </ul>
    </section>
