<span>
                    <div class="dropdown mr-2"
                         data-toggle="dropdown"
                         id="login-register">
                    <a class="btn btn-primary show-ov"
                       href="#"><span> Sign in</span>
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu stop-closing">
                        <div class="form-title">
                            Sign in to Brusselslife
                        </div>
                        <div class="error-message">
                            <div class="alert alert-danger">
                                Please enter the correct username & password
                            </div>
                        </div>
                        <form action="">
                            <div class="input-element mb-4">
                                <label for="username">Email address </label>
                                <input id="username"
                                       type="text" placeholder="" class="form-control">
                            </div>

                            <div class="input-element mb-4">
                                <label for="password">Password</label>
                                <input id="password"
                                       type="password" placeholder="Password" class="form-control">
                            </div>

                            <div class="input-element  mb-4">
                                <div class="checkbox custom-checkbox">
                                    <input type="checkbox" id="keep_logged_in">
                                    <label for="keep_logged_in">Keep me logged in</label>
                                </div>

                                <a href="#" class="forgot-pass pull-left">
                                    Forgot password ?
                                </a>
                            </div>
                            <button class="btn btn-primary" id="login-button">
                                Login
                            </button>


                            <p class="mt-4 mb-0 text-center">Not a member ? &nbsp; <a href="#"
                                                                                      class="btn btn-link btn-create-acc">Create
                                a new account</a></p>

                        </form>

                        <div class="social-logins row pt-4">
                            <div class="col-6">
                                <a class="btn btn-link btn-google">Google</a>
                            </div>
                           <div class="col-6">
                                <a class="btn btn-link btn-fb">Facebook</a>
                           </div>
                        </div>
                    </div>
                </div>
              </span>