<div class="container bg-transparent">
   <div class="row">
       <div class="col-12">
           <blife-block>
               <div id="block-quick-3" class="position-relative">
                   {{#parseJSON '{"name": "BLOCK QUICK 3"}'}}
                   {{> block-edit}}
                   {{/parseJSON}}
                   <div class="row">
                       <div class="col-md-4 col-sm-4 col-xs-12">
                           <a href="#">
                               <div class="media">
                                   <img class="mr-2" src="{{assets}}images/quick-3-1.jpg" alt="Generic placeholder image">
                                   <div class="media-body">
                                  <span>
                                       Discover Your Path To Success in good food habits
                                  </span>
                                   </div>
                               </div>
                           </a>
                       </div>
                       <div class="col-md-4 col-sm-4 col-xs-12">
                           <a href="#">
                               <div class="media">
                                   <img class="mr-2" src="{{assets}}images/quick-3-2.jpg" alt="Generic placeholder image">
                                   <div class="media-body">
                                   <span>
                                       Vacation Home Rental Success
                                   </span>
                                   </div>
                               </div>
                           </a>
                       </div>
                       <div class="col-md-4 col-sm-4 col-xs-12 ">
                           <a href="#">
                               <div class="media">
                                   <img class="mr-2" src="{{assets}}images/quick-3-3.jpg" alt="Generic placeholder image">
                                   <div class="media-body">
                                   <span>
                                       The Surprising Popularity Of Cigar Smoking
                                   </span>
                                   </div>
                               </div>
                           </a>
                       </div>
                   </div>
               </div>
           </blife-block>
       </div>
   </div>
</div>
