 <section class="right-block price-range mb-4 shadow-sm">
        <div class="place-title">
            <h3>
                Price range
            </h3>
        </div>
        <div class="block-content">
            <img src="{{assets}}svg/bl-icon-tag.svg" alt="">
            <span>
                    &dollar;&dollar; - &dollar;&dollar;&dollar;
                </span>
        </div>
    </section>
    <section class="right-block address-categories mb-4 shadow-sm">
        <div class="place-title">
            <h3>
                Categories
            </h3>
        </div>

        <div class="block-content">
            <a href="#">
                FRENCH
            </a>
            <a href="#">
                RESTAURANTS
            </a>
            <a href="#">
                CUISINE
            </a>
        </div>

    </section>
    <section class="right-block address-branches shadow-sm">
        <div class="place-title">
            <h3>
                Branches
            </h3>
        </div>
        <div class="block-content">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cooperate addresses
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">
                            <figure><img src="{{assets}}images/gallery/2.png" alt=""></figure>
                            <p>
                                <i class="fa fa-map-marker"></i>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis.
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <figure><img src="{{assets}}images/gallery/3.png" alt=""></figure>
                            <p>
                                <i class="fa fa-map-marker"></i>
                                Lorem ipsum consectetur adipisicing elit. Corporis.
                            </p>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <figure><img src="{{assets}}images/gallery/4.png" alt=""></figure>
                            <p>
                                <i class="fa fa-map-marker"></i>
                                Lorem ipsum dolor sit amet, consectetur adi
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="right-block contact-map shadow-sm">
        <div class="place-title">
            <h3>
                Contact & Location
            </h3>
        </div>
        <div class="block-content">
            <div id="address-map-canvas"></div>

            <address>
                <i class="fa fa-map-marker"></i> Place Fernand Cocq, 21 - 1050 Bruxelles
            </address>
            <a href="#" target="_blank">
                <i class="fa fa-map-signs" aria-hidden="true"></i> Get direction
            </a>
            <a href="#" target="_blank"><i class="fa fa-cutlery" aria-hidden="true"></i> Food menu</a>
            <a href="#" target="_blank">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i> Online shopping
            </a>
            <a href="http://www." target="_blank">
                <i class="fa fa-globe" aria-hidden="true"></i> www.bycheifmichel.be
            </a>
        </div>
    </section>
    <section class="right-block opening-hours shadow-sm">
        <div class="place-title">
            <h3>
                Opening Hours
            </h3>
        </div>
        <div class="block-content">

            <div class="active-date-time">
                <p>
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Today (Wed) 11.30 am - 10:30pm
                    <span class="close-now">
                             Close now
                         </span>
                </p>
            </div>
            <table>
                <tr>
                    <td>
                        Mon
                    </td>
                    <td>
                        09.00am - 10:30pm
                    </td>
                </tr>
                <tr>
                    <td>
                        Tue
                    </td>
                    <td>
                        09.00am - 10:30pm
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        Wed
                    </td>
                    <td>
                        09.00am - 10:30pm
                    </td>
                </tr>
                <tr>
                    <td>
                        Thu
                    </td>
                    <td>
                        09.00am - 10:30pm
                    </td>
                </tr>
                <tr>
                    <td>
                        Fri
                    </td>
                    <td>
                        09.00am - 10:30pm
                    </td>
                </tr>
                <tr>
                    <td>
                        Sat
                    </td>
                    <td>
                        09.00am - 10:30pm
                    </td>
                </tr>
                <tr>
                    <td>
                        Sun
                    </td>
                    <td>
                        09.00am - 10:30pm
                    </td>
                </tr>
            </table>


        </div>
    </section>
    <section class="right-block food-menu shadow-sm">
        <div class="place-title">
            <h3>
                Wats on the menu (New).
            </h3>
        </div>

        <div class="block-content">
            <div class="row">
                <div class="col-sm-6">
                    <a href="#">
                        <figure>
                            <img class="sombal" data-src="{{assets}}images/m1.png" alt="">
                        </figure>
                        <p>
                            Maine Lobster Risotto
                        </p>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="#">
                        <figure>
                            <img class="sombal" data-src="{{assets}}images/m2.png" alt="">

                        </figure>
                        <p>
                            Dungeness Crab Cakes
                        </p>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="#">
                        <figure>
                            <img class="sombal" data-src="{{assets}}images/m3.png" alt="">
                        </figure>
                        <p>
                            Grilled Pancetta Wrapped Prawns
                        </p>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="#">
                        <figure>
                            <img class="sombal" data-src="{{assets}}images/m4.png" alt="">
                        </figure>
                        <p>
                            Dungeness Crab Cakes
                        </p>
                    </a>
                </div>

            </div>

            <a href="" class="btn btn-link btn-see-all">
                See all menus
            </a>
        </div>
    </section>
    <section class="right-block related-addresses shadow-sm">
        <div class="place-title">
            <h3>
                Related addresses
            </h3>
        </div>
        <ul>
            <li class="first">
                <a href="#">
                    <figure>
                        <img src="{{assets}}images/related_img_1.jpg" alt="">
                    </figure>
                    <div>
                        <p>
                            Famous Names In Barbecue
                        </p>
                        <p class="tag-line">
                            Forget Ebay and other forms of advertising for your
                        </p>
                    </div>
                </a>
            </li>
            <li class="">
                <a href="#">
                    <figure>
                        <img src="{{assets}}images/related_img_3.jpg" alt="">
                    </figure>
                    <div>
                        <p>
                            Famous Names In Barbecue
                        </p>
                        <p class="tag-line">
                            Forget Ebay and other forms of advertising for your
                        </p>
                    </div>
                </a>
            </li>
            <li class="">
                <a href="#">
                    <figure>
                        <img src="{{assets}}images/related_img_2.jpg" alt="">
                    </figure>
                    <div>
                        <p>
                            Famous Names In Barbecue
                        </p>
                        <p class="tag-line">
                            Forget Ebay and other forms of advertising for your
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </section>
    <section class="right-block nearby-addresses shadow-sm">
        <div class="place-title">
            <h3>
                Near by addresses
            </h3>
        </div>
        <ul>
            <li class="first">
                <a href="#">
                    <figure>
                        <img src="{{assets}}images/related_img_1.jpg" alt="">
                    </figure>
                    <div>
                        <p>
                            Famous Names In Barbecue
                        </p>
                        <p class="tag-line">
                            Forget Ebay and other forms of advertising for your
                        </p>
                    </div>
                </a>
            </li>
            <li class="">
                <a href="#">
                    <figure>
                        <img src="{{assets}}images/related_img_3.jpg" alt="">
                    </figure>
                    <div>
                        <p>
                            Famous Names In Barbecue
                        </p>
                        <p class="tag-line">
                            Forget Ebay and other forms of advertising for your
                        </p>
                    </div>
                </a>
            </li>
            <li class="">
                <a href="#">
                    <figure>
                        <img src="{{assets}}images/related_img_2.jpg" alt="">
                    </figure>
                    <div>
                        <p>
                            Famous Names In Barbecue
                        </p>
                        <p class="tag-line">
                            Forget Ebay and other forms of advertising for your
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </section>
    <section class="right-block review-block shadow-sm">
        <div class="place-title">
            <h3>
                Rating & Reviews
                <a href="#" class="btn btn-danger btn-review">
                    <i class="fa fa-star"></i> Write a review
                </a>
            </h3>
        </div>
        <div class="block-content">
            <div class="d-flex pt-2">
                <label class="badge badge-info">
                    <span class="rating">4</span><i class="fa fa-star"></i>
                </label>
                <div>
                    <p id="rating_word">
                        Very good
                    </p>
                    <div class="unrated-stars">
                        <i class="fa fa-star" data-text="Poor"></i>
                        <i class="fa fa-star" data-text="Ok"></i>
                        <i class="fa fa-star" data-text="Good"></i>
                        <i class="fa fa-star" data-text="Very good"></i>
                        <i class="fa fa-star" data-text="Excellent"></i>
                    </div>
                </div>
                <a href="#" class="btn btn-link">13 Reviews</a>
            </div>
        </div>
        <div class="place-title">
            <h3>
                Recent reviews
            </h3>
        </div>
        <div class="block-content">
            <div class="user-reviews-teaser">
                <ul>
                    <li class="media">
                        <figure>
                            <img src="{{assets}}images/status_img.png" alt="">
                        </figure>
                        <div>
                            <div>
                                <p>
                                    <strong>Lori C. </strong>
                                </p>
                                <div class="rated-stars">
                                    <i class="fa fa-star full"></i>
                                    <i class="fa fa-star full"></i>
                                    <i class="fa fa-star full"></i>
                                    <i class="fa fa-star full"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <p>
                                <a href="#">
                                    This was my first time at Ladle & Leaf and I was happy with my experience.
                                    The
                                    staff greeted me when I walked in and they provided excellent customer …
                                </a>
                            </p>
                        </div>
                    </li>
                    <li class="media">
                        <figure>
                            <img src="{{assets}}images/status_img_2.png" alt="">
                        </figure>
                        <div>
                            <div>
                                <p>
                                    <strong>Lori C. </strong>
                                </p>
                                <div class="rated-stars">
                                    <i class="fa fa-star full"></i>
                                    <i class="fa fa-star full"></i>
                                    <i class="fa fa-star full"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <p>
                                <a href="#">
                                    This was my first time at Ladle & Leaf and I was happy with my experience.
                                    The
                                    staff greeted me when I walked in and they provided excellent customer …
                                </a>
                            </p>
                        </div>

                    </li>
                    <li class="media">
                        <figure>
                            <img src="{{assets}}images/status_img_3.png" alt="">
                        </figure>
                        <div>
                            <div>
                                <p>
                                    <strong>Lori C. </strong>
                                </p>
                                <div class="rated-stars">
                                    <i class="fa fa-star full"></i>
                                    <i class="fa fa-star full"></i>
                                    <i class="fa fa-star full"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <p>
                                <a href="#">
                                    This was my first time at Ladle & Leaf and I was happy with my experience.
                                    The
                                    staff greeted me when I walked in and they provided excellent customer …
                                </a>
                            </p>
                        </div>

                    </li>
                </ul>
                <a href="#" class="btn btn-link btn-see-all">
                    <strong>
                        See all reviews
                    </strong>
                </a>
            </div>
        </div>
    </section>
    <section class="right-block related-events shadow-sm">
        <div class="place-title">
            <h3>
                Related events
            </h3>
        </div>
        <ul>
            <li>
                <a href="#">
                    <figure>
                        <img src="{{assets}}images/related_img_2.jpg" alt="">
                    </figure>
                    <div>
                        <p>
                            Famous Names In Barbecue
                            <span>
                                        14 Apr 2018 - 10 Apr 2018
                                    </span>
                        </p>
                        <p class="category">
                            SPORTS
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="{{assets}}images/related_img_3.jpg" alt="">
                    </figure>
                    <div>
                        <p>
                            Famous Names In Barbecue
                            <span>
                                        14 Apr 2018 - 10 Apr 2018
                                    </span>
                        </p>
                        <p class="category">
                            SPORTS
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="{{assets}}images/related_img_2.jpg" alt="">
                    </figure>
                    <div>
                        <p>
                            Famous Names In Barbecue
                            <span>
                                        14 Apr 2018 - 10 Apr 2018
                                    </span>
                        </p>
                        <p class="category">
                            SPORTS
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </section>