<!--<header class="header_search">-->
<!--<div class="container bg-transparent p-0">-->
<!--<div class="row no-gutters">-->

<!--&lt;!&ndash;<div class="col-sm-3 d-sm-flex">&ndash;&gt;-->
<!--&lt;!&ndash;<button class="side-menu-trigger btn btn-dark bg-transparent rounded-0 border-0 p-0">&ndash;&gt;-->
<!--&lt;!&ndash;<img src="{{assets}}svg/menu-bar.svg" class="menu_1" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;<img src="{{assets}}svg/close-bar.svg" class="close_1" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->

<!--&lt;!&ndash;<a href="/" class="logo">&ndash;&gt;-->
<!--&lt;!&ndash;<img src="{{assets}}images/brusselslife_logo.png"&ndash;&gt;-->
<!--&lt;!&ndash;title="Brusselslife.be"&ndash;&gt;-->
<!--&lt;!&ndash;name="Brusselslife.be"&ndash;&gt;-->
<!--&lt;!&ndash;alt="Brusselslife.be">&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="col-sm-6">-->
<!--<form action="/search">-->
<!--<button class="btn btn-clear btn-info-blue " id="btn_clear"-->
<!--data-toggle="tooltip"-->
<!--data-placement="top"-->
<!--title="Clear">-->
<!--<i class="fa fa-close"></i>-->
<!--</button>-->
<!--<button class="btn btn-share btn-info-blue"-->
<!--data-toggle="tooltip"-->
<!--data-placement="top"-->
<!--title="Share results">-->
<!--<i class="fa fa-share"></i>-->
<!--</button>-->
<!--<input type="text" class="form-control" placeholder="Search..." autofocus value="Short eats"-->
<!--name="q" autocomplete="off"-->
<!--id="search_input">-->
<!--</form>-->

<!--</div>-->
<!--&lt;!&ndash;<div class="col-sm-3 d-flex justify-content-end news-login-lan">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="btn btn-primary btn-newsletter mx-2"&ndash;&gt;-->
<!--&lt;!&ndash;data-toggle="tooltip"&ndash;&gt;-->
<!--&lt;!&ndash;data-placement="top"&ndash;&gt;-->
<!--&lt;!&ndash;data-original-title="Newsletter"&ndash;&gt;-->
<!--&lt;!&ndash;href="/newsletter" target="_blank">&ndash;&gt;-->
<!--&lt;!&ndash;<i class="fa fa-envelope" aria-hidden="true"></i>&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;<span>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="dropdown mr-2"&ndash;&gt;-->
<!--&lt;!&ndash;data-toggle="dropdown"&ndash;&gt;-->
<!--&lt;!&ndash;id="login-register">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="btn btn-primary show-ov"&ndash;&gt;-->
<!--&lt;!&ndash;href="#">&ndash;&gt;-->
<!--&lt;!&ndash;<i class="fa fa-user" aria-hidden="true"></i>&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="dropdown-menu stop-closing">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="form-title">&ndash;&gt;-->
<!--&lt;!&ndash;Sign in to Brusselslife&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="error-message">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="alert alert-danger">&ndash;&gt;-->
<!--&lt;!&ndash;Please enter the correct username & password&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<form action="">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="input-element mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;<label for="username">Email address </label>&ndash;&gt;-->
<!--&lt;!&ndash;<input id="username"&ndash;&gt;-->
<!--&lt;!&ndash;type="text" placeholder="" class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="input-element mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;<label for="password">Password</label>&ndash;&gt;-->
<!--&lt;!&ndash;<input id="password"&ndash;&gt;-->
<!--&lt;!&ndash;type="password" placeholder="Password" class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="input-element  mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="checkbox custom-checkbox">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="checkbox" id="keep_logged_in">&ndash;&gt;-->
<!--&lt;!&ndash;<label for="keep_logged_in">Keep me logged in</label>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<a href="#" class="forgot-pass pull-left">&ndash;&gt;-->
<!--&lt;!&ndash;Forgot password ?&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<button class="btn btn-primary" id="login-button">&ndash;&gt;-->
<!--&lt;!&ndash;Login&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->


<!--&lt;!&ndash;<p class="mt-4 mb-0 text-center">Not a member ? &nbsp; <a href="#"&ndash;&gt;-->
<!--&lt;!&ndash;class="btn btn-link btn-create-acc">Create&ndash;&gt;-->
<!--&lt;!&ndash;a new account</a></p>&ndash;&gt;-->

<!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="social-logins row pt-4">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-6">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="btn btn-link btn-google">Google</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-6">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="btn btn-link btn-fb">Facebook</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<span>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="dropdown"&ndash;&gt;-->
<!--&lt;!&ndash;data-toggle="dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="btn btn-primary"&ndash;&gt;-->
<!--&lt;!&ndash;id="switch-language"&ndash;&gt;-->
<!--&lt;!&ndash;href="#">&ndash;&gt;-->
<!--&lt;!&ndash;<span>FR</span>&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="dropdown-menu">&ndash;&gt;-->
<!--&lt;!&ndash;<a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;FR&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;NL&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;EN&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</header>-->


<header class="header-search">

    <section class="container">
        <div class="row">

        </div>
    </section>

</header>