<section id="section-block-address" class="mb-4 shadow-lg">

    <section class="container">
        <div class="block-title">
            <h2>
                Popular coffee shops around Brussels
            </h2>
        </div>
        <div class="row">
            <div class="col-sm-6">

                <a href="#">
                    <figure>
                        <div class="overlay"></div>
                        <img src="{{assets}}images/section_address_img_1.jpg" alt="">
                    </figure>
                    <div class="address-info">
                        <div class="category-comments-views">
                        <span class="bxl-category">
                            COFFEE SHOPS
                        </span>
                        </div>

                        <h3>
                            Nadine petrolli coffee
                        </h3>
                        <p>
                            <small>
                                1000 Brussels
                            </small>
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolor eum iste
                            nesciunt odio
                        </p>
                    </div>
                </a>

            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6 col-6">


                        <a href="#">
                            <figure>
                                <div class="overlay"></div>
                                <img src="{{assets}}images/section_address_img_2.jpg" alt="">
                            </figure>

                            <div class="address-info-small">
                                <div class="category-comments-views">
                        <span class="bxl-category">
                            COFFEE SHOPS
                        </span>
                                </div>

                                <h3>
                                    Nadine petrolli coffee
                                </h3>
                                <p>
                                    <small>
                                        1000 Brussels
                                    </small>
                                </p>
                            </div>
                        </a>

                    </div>
                    <div class="col-sm-6 col-6">


                        <a href="#">
                            <figure>
                                <div class="overlay"></div>
                                <img src="{{assets}}images/section_address_img_3.jpg" alt="">
                            </figure>

                            <div class="address-info-small">
                                <div class="category-comments-views">
                        <span class="bxl-category">
                            COFFEE SHOPS
                        </span>
                                </div>

                                <h3>
                                    Nadine petrolli coffee
                                </h3>
                                <p>
                                    <small>
                                        1000 Brussels
                                    </small>
                                </p>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-6">


                        <a href="#">
                            <figure>
                                <div class="overlay"></div>
                                <img src="{{assets}}images/section_address_img_4.jpg" alt="">
                            </figure>

                            <div class="address-info-small">
                                <div class="category-comments-views">
                        <span class="bxl-category">
                            COFFEE SHOPS
                        </span>
                                </div>

                                <h3>
                                    Nadine petrolli coffee
                                </h3>
                                <p>
                                    <small>
                                        1000 Brussels
                                    </small>
                                </p>
                            </div>
                        </a>

                    </div>
                    <div class="col-sm-6 col-6">


                        <a href="#">
                            <figure>
                                <div class="overlay"></div>
                                <img src="{{assets}}images/section_address_img_5.jpg" alt="">
                            </figure>

                            <div class="address-info-small">
                                <div class="category-comments-views">
                        <span class="bxl-category">
                            COFFEE SHOPS
                        </span>
                                </div>

                                <h3>
                                    Nadine petrolli coffee
                                </h3>
                                <p>
                                    <small>
                                        1000 Brussels
                                    </small>
                                </p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>

</section>