<div class="col-md-4" id="section-block-address-2">
    <div class="block-content">
        <div class="block-address bg-white shadow-lg">
            <a href="#">
                <figure>
                    <div class="overlay"></div>
                    <img src="{{assets}}images/address_full_1.jpg" alt="">
                </figure>
                <div class="address-info">
                    <div class="category-comments-views">
                    <span class="bxl-category">
                        RESTAURANT
                    </span>
                    </div>
                    <h3>
                        Taverne du Passage
                    </h3>
                    <p>
                        <small>
                            1000 Brussels
                        </small>
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque aut, blanditiis, distinctio doloremque
                    </p>
                </div>
            </a>
            <a href="#" class="mb-0">
                <figure>
                    <div class="overlay"></div>
                    <img src="{{assets}}images/address_full_2.jpg" alt="">
                </figure>
                <div class="address-info">
                    <div class="category-comments-views">
                    <span class="bxl-category">
                        RESTAURANT
                    </span>
                    </div>
                    <h3>
                        Taverne du Passage
                    </h3>
                    <p>
                        <small>
                            1000 Brussels
                        </small>
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque aut, blanditiis, distinctio doloremque
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>