<section class="container p-0 mt-4 bg-transparent"
         id="section-block-group-address">
    <div class="row no-gutters">
        <div class="col-md-8 bg-white shadow-lg p-4">
            <div class="block-title">
                <h2>
                    Popular restaurant types
                </h2>
            </div>
            <div class="item-address-type">
                <a href="#">
                    <h3>
                        <span class="count">21</span>
                        Roof top restaurants
                    </h3>
                    <figure>
                        <img src="{{assets}}images/address_group_1.jpg" alt="">
                    </figure>
                </a>
            </div>

            <div class="item-address-type">
                <a href="#">
                    <h3>
                        <span class="count">07</span>
                        Outdoor seating
                    </h3>
                    <figure>
                        <img src="{{assets}}images/address_group_2.jpg" alt="">
                    </figure>
                </a>
            </div>

            <div class="item-address-type">
                <a href="#">
                    <h3>
                        <span class="count">21</span>
                       Romantic restaurants
                    </h3>
                    <figure>
                        <img src="{{assets}}images/address_group_3.jpg" alt="">
                    </figure>
                </a>
            </div>

        </div>
        <div class="col-md-4 pl-4">
            <div class="block-content">
                <div class="block-tag-cloud bg-white shadow-lg">
                    <div class="block-title">
                        <h2>
                            Category tags
                        </h2>
                    </div>

                    <div class="tags">
                        <a href="#">
                            SPORTS
                        </a>
                        <a href="#">
                            EVENTS
                        </a>
                        <a href="#">
                            SALONS
                        </a>

                        <a href="#">
                            EAT & DRINK
                        </a>

                        <a href="#">
                            MEDICAL
                        </a>
                        <a href="#">
                            COFFEE SHOPS
                        </a>
                        <a href="#">
                            RESTAURANTS
                        </a>

                        <a href="#">
                            BEAUTY & SALONS
                        </a>
                        <a href="#">
                            EAT & DRINK
                        </a>

                        <a href="#">
                            MEDICAL
                        </a>
                        <a href="#">
                            BEAUTY
                        </a>
                        <a href="#">
                            SHOPPING
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>