<section class="container bg-white shadow-lg mb-4"
         id="section-block-article-single-address">
    <div class="row">
        <div class="col-md-8">
            <div class="block-content">
                <div class="block-article py-4">
                    <a href="#">
                        <figure>
                            <img src="{{assets}}images/article_img_5.jpg" alt="">
                        </figure>
                        <div class="category-comments-views">
                            <span class="bxl-category">CATERING</span>
                            <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                        </div>
                        <h3>
                            Découvrez le Parlement européen sous un nouvel angle
                        </h3>
                        <p class="pt-2">
                            Le Parlamentarium, Centre des visiteurs du Parlement européen, est le plus grand centre
                            dédié aux
                            visiteurs édifié par un parlement en Europe.
                        </p>
                    </a>
                    <div class="info_author pt-2">
                        <a href="#author_profile">
                            <img src="{{assets}}images/author_1.png" alt="">
                            <p>
                                Brijamohan Mallick
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block-content">
                <div class="block-single-address">
                    <div class="block-address">

                        <a href="#">
                            <div class="category-comments-views">
                                <span class="bxl-category">
                                    RESTAURANT
                                </span>
                            </div>
                            <h3>
                                Mad about jazz
                            </h3>
                            <p>
                                <small>
                                    1050 Ixells
                                </small>
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam architecto
                                atque autem.
                            </p>

                            <p class="address-about-desc">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Accusantium adipisci amet consectetur consequuntur cum distinctio eligendi eos eum...

                            </p>

                        </a>
                        <figure>
                            <img src="{{assets}}images/address-home-2.jpg" alt="">
                        </figure>
                        <div class="row no-gutters single-address-thumb">
                            <div class="col-4">
                                <figure>
                                    <img src="{{assets}}images/insta_1.jpg" alt="">
                                </figure>
                            </div>
                            <div class="col-4">
                                <figure>
                                    <img src="{{assets}}images/insta_2.jpg" alt="">
                                </figure>
                            </div>
                            <div class="col-4">
                                <figure>
                                    <img src="{{assets}}images/insta_3.jpg" alt="">
                                </figure>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</section>