<section id="section-block-article-address"
         class="container mb-4 bg-transparent p-0">

    <div class="row no-gutters">
        <div class="col-md-8 bg-white shadow-lg">
            <div class="row">
                <div class="col-sm-6">
                    <div class="block-content">
                        <div class="block-article">
                            <a href="#">
                                <figure>
                                    <img src="{{assets}}images/article_block_4.jpg" alt="">
                                </figure>
                                <div class="category-comments-views">
                                    <span class="bxl-category">CATERING</span>
                                    <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                                </div>
                                <h3>
                                    Découvrez le Parlement européen sous un nouvel angle
                                </h3>
                                <p>
                                    Le Parlamentarium, Centre des visiteurs du Parlement européen, est le plus grand
                                    centre
                                    dédié
                                    aux visiteurs édifié par un parlement en Europe.
                                </p>
                            </a>

                            <div class="info_author">
                                <a href="#author_profile">
                                    <img src="{{assets}}images/author_1.png" alt="">
                                    <p>
                                        Brijamohan Mallick
                                    </p>
                                </a>
                            </div>



                            <a href="#" class="image_imu">
                                <img src="{{assets}}images/imu.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                    <ul class="list-unstyled">
                        <li>
                            <div class="media">
                                <a href="#">
                                    <figure>
                                        <img src="{{assets}}images/article_4_3.jpg" alt="">
                                    </figure>

                                    <div>
                                        <h3>
                                            Découvrez le Parlement européen sous un nouvel angle
                                        </h3>
                                        <div class="category-comments-views">
                                            <span class="bxl-category">
                                                RESTAURANT
                                            </span>
                                            <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                                        </div>
                                    </div>

                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <figure>
                                    <img src="{{assets}}images/article_4_4.jpg" alt="">
                                </figure>

                                <div>
                                    <h3>
                                        Découvrez le Parlement européen sous un nouvel angle
                                    </h3>
                                    <div class="category-comments-views">
                                            <span class="bxl-category">
                                                RESTAURANT
                                            </span>
                                        <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                                    </div>
                                </div>

                            </a>
                        </li>
                        <li>
                            <div class="media">
                                <a href="#">
                                    <figure>
                                        <img src="{{assets}}images/article_4_3.jpg" alt="">
                                    </figure>

                                    <div>
                                        <h3>
                                            Découvrez le Parlement européen sous un nouvel angle
                                        </h3>
                                        <div class="category-comments-views">
                                            <span class="bxl-category">
                                                RESTAURANT
                                            </span>
                                            <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                                        </div>
                                    </div>

                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <figure>
                                    <img src="{{assets}}images/article_4_4.jpg" alt="">
                                </figure>

                                <div>
                                    <h3>
                                        Découvrez le Parlement européen sous un nouvel angle
                                    </h3>
                                    <div class="category-comments-views">
                                            <span class="bxl-category">
                                                RESTAURANT
                                            </span>
                                        <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                                    </div>
                                </div>

                            </a>
                        </li>
                        <li>
                            <div class="media">
                                <a href="#">
                                    <figure>
                                        <img src="{{assets}}images/article_4_3.jpg" alt="">
                                    </figure>

                                    <div>
                                        <h3>
                                            Découvrez le Parlement européen sous un nouvel angle
                                        </h3>
                                        <div class="category-comments-views">
                                            <span class="bxl-category">
                                                RESTAURANT
                                            </span>
                                            <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                                        </div>
                                    </div>

                                </a>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <figure>
                                    <img src="{{assets}}images/article_4_4.jpg" alt="">
                                </figure>

                                <div>
                                    <h3>
                                        Découvrez le Parlement européen sous un nouvel angle
                                    </h3>
                                    <div class="category-comments-views">
                                            <span class="bxl-category">
                                                RESTAURANT
                                            </span>
                                        <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                                    </div>
                                </div>

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        {{> section-block-article-address-2 }}
    </div>


</section>