<section class="container bg-transparent p-0"
         id="section-block-grid-articles">
    <div class="row no-gutters">
        <div class="col-md-8 bg-white shadow-lg">


            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <a href="#">
                            <figure>
                                <img src="{{assets}}images/article_block_4.jpg" alt="">
                            </figure>
                            <div class="category-comments-views">
                                <span class="bxl-category">CATERING</span>
                                <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                            </div>
                            <h3>
                                Découvrez le Parlement européen sous un nouvel angle
                            </h3>

                        </a>
                        <div class="info_author">
                            <a href="#author_profile">
                                <img src="{{assets}}images/author_1.png" alt="">
                                <p>
                                    Brijamohan Mallick
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <a href="#">
                            <figure>
                                <img src="{{assets}}images/article_block_4_2.jpg" alt="">
                            </figure>
                            <div class="category-comments-views">
                                <span class="bxl-category">CATERING</span>
                                <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                            </div>
                            <h3>
                                Découvrez le Parlement européen sous un nouvel angle
                            </h3>

                        </a>
                        <div class="info_author">
                            <a href="#author_profile">
                                <img src="{{assets}}images/author_2.png" alt="">
                                <p>
                                    Xing Zheng

                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <a href="#">
                            <figure>
                                <img src="{{assets}}images/article_block_4.jpg" alt="">
                            </figure>
                            <div class="category-comments-views">
                                <span class="bxl-category">CATERING</span>
                                <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                            </div>
                            <h3>
                                Découvrez le Parlement européen sous un nouvel angle
                            </h3>

                        </a>
                        <div class="info_author">
                            <a href="#author_profile">
                                <img src="{{assets}}images/author_1.png" alt="">
                                <p>
                                    Brijamohan Mallick
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <a href="#">
                            <figure>
                                <img src="{{assets}}images/article_block_4_2.jpg" alt="">
                            </figure>
                            <div class="category-comments-views">
                                <span class="bxl-category">CATERING</span>
                                <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                            </div>
                            <h3>
                                Découvrez le Parlement européen sous un nouvel angle
                            </h3>

                        </a>
                        <div class="info_author">
                            <a href="#author_profile">
                                <img src="{{assets}}images/author_2.png" alt="">
                                <p>
                                    Xing Zheng

                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <a href="#">
                            <figure>
                                <img src="{{assets}}images/article_block_4.jpg" alt="">
                            </figure>
                            <div class="category-comments-views">
                                <span class="bxl-category">CATERING</span>
                                <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                            </div>
                            <h3>
                                Découvrez le Parlement européen sous un nouvel angle
                            </h3>

                        </a>
                        <div class="info_author">
                            <a href="#author_profile">
                                <img src="{{assets}}images/author_1.png" alt="">
                                <p>
                                    Brijamohan Mallick
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <a href="#">
                            <figure>
                                <img src="{{assets}}images/article_block_4_2.jpg" alt="">
                            </figure>
                            <div class="category-comments-views">
                                <span class="bxl-category">CATERING</span>
                                <span class="bxl-comments">
                            03
                            <i class="fa fa-commenting-o"></i>
                        </span>
                            </div>
                            <h3>
                                Découvrez le Parlement européen sous un nouvel angle
                            </h3>

                        </a>
                        <div class="info_author">
                            <a href="#author_profile">
                                <img src="{{assets}}images/author_2.png" alt="">
                                <p>
                                    Xing Zheng

                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="pagination">
                <li>
                    <a href="#">
                        1
                    </a>
                </li>

                <li>
                    <a href="#">
                        2
                    </a>
                </li>

                <li>
                    <a href="#">
                        3
                    </a>
                </li>

                <li>
                    <a href="#">
                        4
                    </a>
                </li>

                <li>
                    <a href="#">
                        5
                    </a>
                </li>
                <li>
                    <a href="#">
                        6
                    </a>
                </li>
                <li>
                    <a href="#">
                        7
                    </a>
                </li>

            </ul>
        </div>

        <div class="col-md-4">
            <div class="block-content ">
                <div class="block-connect bg-white shadow-lg mb-4">
                    <div class="block-title">
                        <h2>
                            <strong>Stay</strong> connected
                        </h2>
                    </div>

                    <a class="item-button fb-button">
                        <i class="fa fa-facebook"></i>
                        68,475 Likes
                    </a>

                    <a class="item-button tw-button">
                        <i class="fa fa-twitter"></i>
                        15,245 Followers
                    </a>

                    <a class="item-button insta-button">
                        <i class="fa fa-instagram"></i>
                        25,478 Followers
                    </a>

                </div>
            </div>
            <div class="block-content">
                <div class="block-tag-cloud bg-white shadow-lg mb-4">
                    <div class="block-title">
                        <h2>
                            Category tags
                        </h2>
                    </div>

                    <div class="tags">
                        <a href="#">
                            SPORTS
                        </a>
                        <a href="#">
                            EVENTS
                        </a>
                        <a href="#">
                            SALONS
                        </a>

                        <a href="#">
                            EAT & DRINK
                        </a>

                        <a href="#">
                            MEDICAL
                        </a>
                        <a href="#">
                            COFFEE SHOPS
                        </a>
                        <a href="#">
                            RESTAURANTS
                        </a>

                        <a href="#">
                            BEAUTY & SALONS
                        </a>
                        <a href="#">
                            EAT & DRINK
                        </a>

                        <a href="#">
                            MEDICAL
                        </a>

                    </div>
                </div>
            </div>
            <div class="home-block-4-2">
                <div class="block-content">
                    <div class="block-address bg-white shadow-lg">
                        <div class="block-title">
                            <h2>
                                Near by addresses
                            </h2>
                            <a href="#" class="active">
                                RESTAURANTS
                            </a>
                            <a href="#">
                                BARS
                            </a>
                            <a href="#">
                                FAST FOOD
                            </a>
                            <a href="#">
                                COFFEE SHOPS
                            </a>
                        </div>
                        <ul class="list-unstyled">
                            <li>
                                <div class="media">
                                    <a href="#">

                                        <img src="{{assets}}images/address_small.jpg" alt="">
                                        <div>
                                            <h3>
                                                Ezequiel Dengra
                                            </h3>
                                            <p>
                                                La Taverne du Passage à Bruxelles vous ouvre ses portes pour vous faire.
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a href="#">

                                    <img src="{{assets}}images/address_small_2.jpg" alt="">
                                    <div>
                                        <h3>
                                            Ezequiel Dengra
                                        </h3>
                                        <p>
                                            La Taverne du Passage à Bruxelles vous ouvre ses portes pour vous faire.
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">

                                    <img src="{{assets}}images/address_small_3.jpg" alt="">
                                    <div>
                                        <h3>
                                            Ezequiel Dengra
                                        </h3>
                                        <p>
                                            La Taverne du Passage à Bruxelles vous ouvre ses portes pour vous faire.
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>


                        <a href="#">
                            <img src="{{assets}}images/imu.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>