<p>
    &nbsp;
</p>
<div class="row">
    <div class="col-md-4 block-loading"></div>
    <div class="col-md-4 block-loading"></div>
    <div class="col-md-4 block-loading"></div>
</div>
<p>
    &nbsp;
</p>

<div class="row">
    <div class="col-md-12">
        <div class="block-loading-full"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="block-loading-half"></div>
    </div>
    <div class="col-md-5">
        <div class="block-loading-small"></div>
        <div class="block-loading-small"></div>
        <div class="block-loading-small"></div>
        <div class="block-loading-small"></div>
    </div>
</div>